{% extends "home/main.html" %}
{% load wp_tags %}
{% load misc_tags %}

{% block title %}- Miscellaneous{% endblock %}

{% block javascript %}
    <script type="text/javascript">        
        $(document).ready( function () {
            // hide long descriptions on load.
            $(".misclongdesc").hide();
        });
    </script>
{% endblock %}

<!-- Build misc objects menu -->
{% block verticalmenu %}
    {% if miscobjects %}
        <div class="vertical-menu">
            <ul class="vertical-menu-main">
                {% for misc in miscobjects %}
                    <li class="vertical-menu-item">
                        <a class="vertical-menu-link" href="#{{ misc.alias }}">
                            <span class="vertical-menu-text">{{ misc.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

<!-- Build misc Listing -->
{% block content %}
    {% if miscobjects %}
        <div class="wp-block misc-listing">
             <!-- Form for submitting file names to the /viewer -->
             <form id="file-viewer" method="post" action="/view/">{% csrf_token %}
                  <!-- Includes Token for Django's CSRF handling. -->
                  <input id="viewer-filename" name="file" type="hidden" value="none">
             </form>                            
            
            {% for misc in miscobjects %}
                <!-- Single misc listing. -->
                <div id='{{ misc.alias }}' class="wp-block misc-container">
                    <!-- Header (Name/Link/Version) -->
                    <div class='misc-header-box'>
                        <a href="/misc/{{ misc.alias }}">
                            <span class="header misc-name">{{ misc.name }}</span>
                        </a>
                        <br/>
                        {% if misc.version %}
                            <span class="version">version {{ misc.version }}</span>
                            <br/>
                        {% endif %}
                        <!-- Misc Type Info -->
                        <div class='misc-type-info-box'>
                            <div class='misc-type-info-item'>
                                <span class='misc-type-label'>Type:&nbsp;</span>
                                <span class='misc-type-value'>{{ misc.filetype }}</span>
                            </div>
                            <div class='misc-type-info-item'>
                                <span class='misc-type-label'>Language:&nbsp;</span>
                                <span class='misc-type-value'>{{ misc.language }}</span>
                            </div>
                        </div>
                    </div>
                
                    <!-- Short Description -->
                    {% if misc.description %}
                        <div id="miscdesc" class="misc-desc misc-index">
                            <span class="desc">{{ misc.description|safe }}</span>
                        </div>
                    {% endif %}
                    <!-- Misc object download box -->
                    <!--<div class='misc-download-box-wrapper'>-->
                        <div class='misc-download-box misc-index'>
                            <div class='misc-download-button misc-index'>
                                <a href='/dl/{{ misc.filename }}'>Download {{ misc.name }}</a>
                            </div>
                            {% if misc|is_viewable %}
                                <div class='misc-download-button misc-index'>
                                    <a href='javascript: void(0);' onclick="javascript: misctools.submitMisc('{{ misc.filename }}');">
                                        View {{ misc.name }} (local)
                                    </a>                      
                                </div>
                            {% endif %}
                    <!-- Long Description Button-->
                    {% if misc|has_html_content %}
                        <div class="misc-download-button misc-index">
                            <a href='javascript: void(0);' onclick="javascript: misctools.toggleLongDesc('{{ misc.alias }}');">
                                <div>
                                    <span id="misclongdescbtn-{{ misc.alias }}">Show More</span>
                                </div>
                            </a>
                        </div>
                    {% endif %}                            
                            
                        </div>
                    <!--</div>-->
                    {% if misc|has_html_content %}
                        <!-- Long Description -->
                        <div id="misclongdesc-{{ misc.alias }}" class="misclongdesc">
                            {{ misc|processed_content}}
                            <!-- Possible Warning -->
                            {% if misc|has_warning %}
                                <br>
                                <div class='misc-warning'>
                                    {{ misc|get_warning }}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <!-- No Misc Objects -->
        <span>Sorry, no misc items are here yet.</span>
    {% endif %}
{% endblock %}
