{% extends "misc/index.html" %}
{% load wp_tags %}
{% load misc_tags %}

{% block title %}{% if misc %}- {{ misc.name }}{% endif %}{% endblock %}

<!-- Cancel out index.html blocks -->
{% block extrastyle %}{% endblock %}
{% block javascript %}{% endblock %}

<!-- Main Misc Page -->
{% block content %}
    {% if misc %}
        <div class="misc-container">
            <!-- misc Header -->
            <div class="misc-title">
                <h1 class="misc-header">{{ misc.name }}</h1>
            </div>
            <!-- misc Body -->
            <div class="misc-content">
                <!-- Content -->
                {% if misc|has_html_content %}
                    <!-- Process misc content and display it. -->
                    <div class='misc-desc'>
                        {{ misc|processed_content }}
                    </div>
                    <!-- Misc object download box -->
                    <br>
                    <div class='misc-download-box-wrapper'>
                        <div class='misc-download-box'>
                            <div class='misc-download-button'>
                                <a href='/dl/{{ misc.filename }}'>Download {{ misc.name }}</a>
                            </div>
                            {% if misc|is_viewable %}
                                <div class='misc-download-button'>
                                    <!-- Form for submitting file names to the /viewer -->
                                    <form id="file-viewer" method="post" action="/view/">{% csrf_token %}
                                        <!-- Includes Token for Django's CSRF handling. -->
                                        <input id="viewer-filename" name="file" type="hidden" value="{{ misc.filename }}">
                                    </form>                            
                                    <a href='javascript: void(0);' onclick="javascript: $('#file-viewer').submit();">
                                        View {{ misc.name }} (local)
                                    </a>                      
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <!-- No content -->
                    <span>Sorry, no information found for this item: {{ requested_page }}</span>
                {% endif %}
            </div>
        </div>
    {% else %}
        <!-- No Misc Object Found! -->
        <span>Sorry, no misc items are here yet.</span>
    {% endif %}
{% endblock %}