{% extends "misc/index.html" %}
{% load wp_tags %}
{% load misc_tags %}
{% block title %}{% if misc %}- {{ misc.name }}{% endif %}{% endblock %}
{% block metainfo %}
<meta name='description' content='A small script or tool from welborn productions{% if misc %}: {{ misc.name }} v. {{ misc.version }}{% if misc.description %}, {{ misc.description }}{% endif %}{% else %}.{% endif %}'>
{% endblock %}
{% if misc %}
{% if misc|has_screenshots %}
{% block extrahead %}
<script type='text/javascript'>
$(document).ready(
function() {
$('.screenshots-box').wtRotator(wprotator_settings);
$('.wt-rotator').width('100%');
$('.screen').width('100%');
}
);
</script>
{% endblock %}
{% endif %}
{% endif %}
{% block extrastyle %}{% endblock %}
{% block bodyend %}{% endblock %}
{% block content %}
{% if misc %}
<div class='misc-container'>
<div class='misc-header-box'>
<h1 class='misc-header'>{{ misc.name }}</h1>
<br/>
{% if misc.version %}
<span class='version'>version {{ misc.version }}</span>
<br/>
{% endif %}
<div class='misc-type-info-box'>
<div class='misc-type-info-item'>
<span class='misc-type-label'>Type:&nbsp;</span>
<span class='misc-type-value'>{{ misc|misctype_str }}</span>
</div>
<div class='misc-type-info-item'>
<span class='misc-type-label'>Language:&nbsp;</span>
<span class='misc-type-value'>{{ misc.language }}</span>
</div>
</div>
</div>
<div class='misc-content'>
{% if misc|has_html_content %}
<div class='misc-desc'>
{{ misc|get_content }}
</div>
{% endif %}
{% if misc.usage_string %}
<div class='miscusage miscusage-main'>
<pre>{{ misc.usage_string }}</pre>
</div>
{% endif %}
{% if misc|has_html_content or misc.usage_string %}
{% if misc|has_warning %}
<br>
<div class='misc-warning'>
{{ misc|get_warning }}
</div>
{% endif %}
{% if misc|has_screenshots %}
<div class='misc-desc'>
<div class='title-box' id='screenshots'>
<h3 class='title'>Screenshots:</h3>
</div>
{{ misc|get_screenshots }}
</div>
{% endif %}
<br>
<div class='misc-download-box-wrapper'>
<div class='misc-download-box'>
<div class='misc-download-button'>
<a href='/dl/{{ misc.filename }}'>Download {{ misc.name }}</a>
</div>
{% if misc|is_viewable %}
<div class='misc-download-button'>
<form id='file-viewer' method='post' action='/view/'>{% csrf_token %}
<input id='viewer-filename' name='file' type='hidden' value='{{ misc.filename }}'>
</form>
<a href='javascript: void(0);' onclick='javascript: $("#file-viewer").submit();'>
View {{ misc.name }} (local)
</a>
</div>
{% endif %}
</div>
</div>
{% else %}
<span>Sorry, no information found for this item: {{ requested_page }}</span>
{% endif %}
</div>
</div>
{% else %}
<span>Sorry, no misc items are here yet.</span>
{% endif %}
{% endblock %}
