// Global colors/settings for Welborn Productions
// Every .scss file should import this, if it uses the common colors/styles.

// Borders
$bordermain: rgba(202,217,224,0.5);
$borderfaint: rgba(202, 217, 224, 0.25);
// this is not actually 'light', bordermain is lighter than this.
$borderlight: #AFAFAF;
$borderhover: #B5CEFF;
$borderblue: #74AFEE;
$borderwhite: #FFFFFF;
$borderred: #B90000;
$bordercode: rgba(202,217,224,0.5);

// Colors
// blackmain and whitemain seem stupid, but if they are used everywhere instead
// of #FFFFFF and #000000 then changing the 'white' everywhere would be really easy.
$blackmain: #000000;
$whitemain: #FFFFFF;
// dim the white a little so it doesn't hurt your eyes.
$whitedull: #FAFAFA;
// $greybg Matches rgb(49, 49, 49) for linear-gradient used in main bg gradient.
$greybg: #313131;
$greysurround: #E7E7E7;
$greydark: #4d4d4d;
$greymain: #919191;
$greylight: #AFAFAF;
$bluelink: #2358A6;
$bluemain: #26A1F4;
$bluelight: #74AFEE;
$bluehover: #007DD1;
$redmain: #B90000;
$greenmain: #01941E;

// Shadows
$shadowbig:  #EEEEEE 0px 0px 20px;
$shadowmedium: #bac2c7 0px 0px 15px;
$shadownormal: 4px 4px 4px rgba(0,0,0,0.07);
$shadowsmall: #bac2c7 1px 1px 4px;
$shadowtext: 2px 2px 4px rgba(0, 0, 0, 1);
$shadowtextsmall:  #999999 1px 1px 3px;

// Font Stacks
$fontssmall: "Source Sans Pro", "Arial Black", "Liberation Sans", Arial, sans-serif;
$fontsnormal: "Ubuntu", "Open Sans", "Century Gothic", "Arial Black", "Liberations Sans", Arial, sans-serif;
$fontsmono: "Ubuntu Mono", "DejaVu Sans Mono", monospace;

// Font Sizes
$fontsmall: 0.8em;
$fontinline: 0.9em;
$fontnormal: 1em;
$fontbigger: 1.2em;
$fontmedium: 1.5em;
$fontbig: 2.0em;
$fontbig2: 2.5em;
$fontlarge: 3.5em;

// Line Heights
$lineheightnormal: 1.1em;

// mixins (not everything uses this yet.)
@mixin border-radius($radius) {
    // to use this do: .box { @include border-radius(10px); }
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
         -o-border-radius: $radius;
            border-radius: $radius;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
       -moz-box-shadow: $shadow;
        -ms-box-shadow: $shadow;
         -o-box-shadow: $shadow;
            box-shadow: $shadow;
}