{% extends "home/main.html" %}
{% block title %}- Page not found.{% endblock %}

{% block metainfo %}
    <meta name="description" content="A ( not found ) error, or ( can't retrieve ) error.">
{% endblock %}

{% block content %}
	<div class='notfound-box'>
		<div class='notfound-image-box'>
			<img class='notfound-image' src='/static/images/404.png'>
		</div>
		{# Show messages from the messages framework #}
		{% if messages %}
			    {% for message in messages %}
			    	{% if message.tags == 'error' %}
			    		<div class="msg-framework-error">
			    			{{ message }}
			    		</div>
			    	{% endif %}
			    {% endfor %}
		{% else %}
			{# Typical 404 message #}
			<div class='notfound-message'>
				Sorry, I can't find this page:
			</div>

			<div class='notfound-path'>
				{{ request_path }}
			</div>

		{% endif %}
		<span class='notfound-home-message'>
			<br/>
			<a href='/'>Click here to go to the home page</a>,
			<br/>
			<br/>
			Or you can browse my <a href='/projects'>projects</a> or <a href='/blog'>blog</a>.
		</span>		
	</div>
{% endblock %}
