{% extends "home/main.html" %}
{% block title %}Welborn Productions - Page not found.{% endblock %}

{% block content %}
	<div class='notfound-box'>
		<div class='notfound-image-box'>
			<img class='notfound-image' src='/static/images/404.png'>
		</div>
		<span class='notfound-message'>
			Sorry, I can't find this page:
		</span>
		<br/>
		<span class='notfound-path'>
			{{ request_path }}
		</span>
		<br/>
		<span class='notfound-home-message'>
			<br/>
			<a href='/'>Click here to go to the home page</a>,
			<br/>
			<br/>
			Or you can browse my <a href='/projects'>projects</a> or <a href='/blog'>blog</a>.
		</span>		
	</div>
{% endblock %}
