{% extends "home/main.html" %}
{% block title %}- Server Error{% endblock %}

{% block content %}
	<div class='notfound-box'>
		<span class='notfound-message'>
			Server Error.
			<br/>
			Something very bad just happened.
		</span>
		<br/>
		{% if request_path %}
			<span class='notfound-path'>
				{{ request_path }}
			</span>
		{% endif %}
		<br/>
		<span class='notfound-home-message'>
			<br>
			Sorry, this was my fault.
			<br>
			<br>
			An email has been sent to me regarding this error. For now, try one of the links below. -Cj
			<br>
			<a href='/'>Click here to go to the home page</a>,
			<br/>
			<br/>
			Or you can browse my <a href='/projects'>projects</a> or <a href='/blog'>blog</a>.
		</span>		
	</div>
{% endblock %}