{% extends "home/main.html" %}
{% block title %}- About{% endblock %}

{% block metainfo %}
    <meta name="description" content="Information about Christopher Welborn and Welborn Productions.">
{% endblock %}

{% block content %}
    <div class='about-box'>
        <!-- Image -->
        <div id='about-pic-box'>
            <img id='about-img' src="/static/images/self-portrait.png" border="0" alt="Christopher Welborn"/>
            <div id='about-contact'>
                <address>
                    <span>Christopher Welborn</span><br/>
                    <span>Jasper, AL</span><br/>
                </address>
                    <div id='about-contact-box'>
                    <!-- EMail -->
                    <a class='wp-address' href='mailto:cj@welbornprod.com' target='_blank'>
                        <div class='about-contact-button'>
                            <span>email</span>
                        </div>
                    </a>
                    <!-- Facebook -->
                    <a href='http://facebook.com/welbornprod' target='_blank'>
                        <div class='about-contact-button'>
                            <span>facebook</span>
                        </div>
                    </a>
                    <!-- Twitter -->
                    <a href='http://twitter.com/cjwelborn' target='_blank'>
                        <div class='about-contact-button'>
                            <span>twitter</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Bio -->
        <div id='about-bio'>
            <h3 class='title'>
                Biography
            </h3>
            <p>
                My name is Christopher Welborn, I am a 32 year old programmer from Jasper, Al.
                I have been working with computers and code since childhood. I started out with Q-BASIC
                in Windows 3.1 and have progressed significantly over the years as the technology has also
                progressed. I spent most of my years focusing on Windows, however lately I do most of my work
                in different variations of the Linux operating system.
            </p>
            <!-- Projects -->
            <br/>
            <h3 class='title'>
                Projects
            </h3>
            <p>
                I mostly write tools that make my everyday tasks quicker or easier, but like many coders I sometimes
                write code just to learn from it and teach myself new concepts. Some projects I use on a daily basis,
                and others never see the light of day. I've uploaded some of my projects here in the
                hope that they might help other people from every skill level to accomplish
                their tasks, or to learn from the code I publish.
            </p>

            <!-- Contact -->
            <h3 class='title'>
                Contact
            </h3>
            <p>
                If you need to contact me for any reason, for help with your PC or help concerning one of my projects,
                please feel free to email me.
            </p>

        </div>
        <!-- END div:bio -->
    </div>

    <div class='about-box-extras'>
        <!--Services -->
        <div id='about-specialties'>
            <h3 class='title'>
                Specialties
            </h3>
            <ul class="checkmark">
                <li>Software Design</li>
                <li>Web Design</li>
                <li>PC Repair/Optimization</li>
                <li>System/Software Installation</li>
                <li>&amp; More (Just Ask)</li>
            </ul>
        </div>

        <div id='about-contrib'>
            <h3 class="title">
                additional info:
            </h3>
            <div id="about-contrib-box">
                <!-- Daniweb -->
                <div class="about-contrib-item">
                    <a href="http://www.daniweb.com/members/572777/chriswelborn" target="_blank">
                        <img src="http://www.daniweb.com/stats/badge/572777/solved.jpg" width="120" height="90" alt="chriswelborn Contributes to DaniWeb" border="0" target="_blank" />
                    </a>
                </div>
                <!-- Github -->
                <div class="about-contrib-item">
                    <iframe id="iframe-github" src="http://githubbadge.appspot.com/badge/welbornprod?a=0" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder=0></iframe>
                </div>
                <!-- Django Powered -->
                <div class="about-contrib-item">
                    <a href="http://www.djangoproject.com/" target="_blank">
                        <img src="/static/images/badges/djangopowered_grey.gif" border="0" alt="Powered by Django." title="Powered by Django." />
                    </a>
                </div>
                <!-- Python Powered -->
                <div class="about-contrib-item">
                    <a href="http://www.python.org" target="_blank">
                        <img src="/static/images/badges/python-powered-anim.gif" style="border-radius: 15px;-moz-border-radius: 15px;-webkit-border-radius: 15px;width: 256px;height: 64px;" alt="Python Powered" title="Python Powered" border="0"/>
                    </a>
                </div>
            </div>
        </div>
        <!-- END div: contrib -->
    </div>
    <!-- END div:about -->
{% endblock %}

