{% extends "home/main.html" %}
{% block title %}- About{% endblock %}

{% block metainfo %}
    <meta name="description" content="Information about Christopher Welborn and Welborn Productions.">
{% endblock %}

{% block content %}
	<div class='wp-block'>
		<div class='about-box'>
			<!-- Image -->
			<div class='about-pic-box'>
				<img class='about-img' src="/static/images/self-portrait.png" border="0" alt="Christopher Welborn"/>
				<div class='about-contact'>
					<address>
						<span>Christopher Welborn</span><br/>
						<span>Jasper, AL</span><br/>
					</address>
						<div class='about-contact-box'>
						<!-- EMail -->
						<a class='wp-address' href='mailto:cj@welbornprod.com' target='_blank'>
							<div class='about-contact-button'>
								<span>email</span>
							</div>
						</a>
						<!-- Facebook -->
						<a href='http://facebook.com/welbornprod' target='_blank'>
							<div class='about-contact-button'>
								<span>facebook</span>
							</div>
						</a>
						<!-- Twitter -->
						<a href='http://twitter.com/cjwelborn' target='_blank'>
							<div class='about-contact-button'>
								<span>twitter</span>
							</div>
						</a>
					</div>
				</div>
			</div>
			<!-- Bio -->
			<div class='about-bio'>
				<h3 class='title'>
					Biography
				</h3>
				<p>
					My name is Christopher Welborn, I am a 31 year old programmer from Jasper, Al. 
					I have been working with computers and code since childhood. I started out with Q-BASIC 
					in Windows 3.1 and have progressed significantly over the years as the technology has also 
					progressed. I spent most of my years focusing on Windows, however lately I do most of my work 
					in different variations of the Linux operating system..
				</p>
				<p>
					I currently program in a few different languages. When it comes to Windows I prefer Visual Basic .Net
					because that is the language I know best. In the past decade or more I have watched as the 
					BASIC language changed forms and updated itself many times, I have used VB versions 3.0 to 6.0 
					and now .Net. Being a programmer, one language is never enough for me, it helps to have knowledge 
					in other areas such as HTML, JavaScript, Digital Graphics, Hardware, etc. so I dabble in those and 
					other areas as well.
				</p>
				<p>
					Linux is an operating system that I have also been fascinated with ever since 
					I heard about it in 1995. I having been using one or more Linux distributions for the past couple 
					years, and currently use Ubuntu and Linux Mint to do most of my computing, while smaller distributions 
					like Puppy Linux serve as good tools for repairing and debugging machines.
				</p>
				<p>
					After discovering Linux it was only a matter of time before I started 
					developing applications for the Linux Desktop, and found Python to be a perfect 
					fit for me. Python is a cross-platform language and is very easy to learn, especially if you have 
					previous programming experience. Using Python also allows me to write applications that can possibly 
					be ported between Linux and Windows, and write tools for the command-line or a GUI in both platforms.
					 I am excited to see what the future holds for me, as I am currently broadening my understanding even 
					 further with the C language, microcontrollers such as the ATTiny and the 
					 Arduino board, plus my Raspberry Pi's.
					 Lately I have been doing a lot more web development using a mixture of 
					 Python, Django, HTML and JavaScript with a PostgreSQL database back-end.
					 I will continue to study and learn new languages/concepts. I will always try to write code that benefits 
					 me and others.
				</p>
				
				<!-- Projects -->
				<br/>
				<h3 class='title'>
					Projects
				</h3>
				<p>
					I mostly write tools that make my everyday tasks quicker or easier, but like many coders I sometimes 
					write code just to learn from it and teach myself new concepts. Some projects I use on a daily basis, 
					and others never see the light of day. I plan on uploading some of my projects to this site in the 
					hope that they might help other programmers and normal users from every skill level to accomplish 
					their tasks, or to learn from the code I publish. I currently have a regular day job so this won't 
					happen over night, but I will continue to work on my projects and update this site as needed.
				</p>
	
				<!-- Contact -->
				<h3 class='title'>
					Contact
				</h3>
				<p>
					If you need to contact me for any reason, for help with your PC or help concerning one of my projects, 
					please feel free to email me. I will try to respond ASAP.
				</p>
	
				<!--Services -->
				<h3 class='title'>
					Specialties
				</h3>
				<ul class="checkmark">
					<li>Software Design</li>
					<li>Web Design</li>
					<li>PC Repair/Optimization</li>
					<li>System/Software Installation</li>
					<li>&amp; More (Just Ask)</li>
				</ul>
			</div>
			<!-- END div:bio -->
			<div class="about-contrib">
				<h3 class="title">
					additional info:
				</h3>
				<div class="about-contrib-box">
					<!-- Daniweb -->
					<div class="about-contrib-item">
						<a href="http://www.daniweb.com/members/572777/chriswelborn" target="_blank">
							<img src="http://www.daniweb.com/stats/badge/572777/solved.jpg" width="120" height="90" alt="chriswelborn Contributes to DaniWeb" border="0" target="_blank" />
						</a>
					</div>
					<!-- Github -->
					<div class="about-contrib-item">
						<iframe id="iframe-github" src="http://githubbadge.appspot.com/badge/welbornprod?a=0" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder=0></iframe>
					</div>
					<!-- Django Powered -->
					<div class="about-contrib-item">
						<a href="http://www.djangoproject.com/" target="_blank">
							<img src="/static/images/badges/djangopowered_grey.gif" border="0" alt="Powered by Django." title="Powered by Django." />
						</a>
					</div>
					<!-- Python Powered -->
					<div class="about-contrib-item">
						<a href="http://www.python.org" target="_blank">
							<img src="/static/images/badges/python-powered-anim.gif" style="border-radius: 15px;-moz-border-radius: 15px;-webkit-border-radius: 15px;width: 256px;height: 64px;" alt="Python Powered" title="Python Powered" border="0"/>
						</a>
					</div>
				</div>
			</div>
			<!-- END div: contrib -->
		</div>
		<!-- END div:about -->
	</div>
	<!-- END div:wp-block -->
{% endblock %}

