{% extends "home/main.html" %}
{% block title %}- Bad Login{% endblock %}

{% block content %}
	<div class='welcome-message-box'>
		<div class='error-home-message'>
			<div class='error-message'>
				Your login credentials were incorrect.
			<div>
			<div class='error-home-link'>
				<a href='/'>Click here to go to the home page</a>,
			</div>
			<div class='error-home-message'>
				or try my
				<a href='/projects'>projects</a>,
				<a href='/blog'>blog</a>,
				<a href='/misc'>misc. stuff</a>,
				or <a href='/apps'>apps</a> page.
			</div>
		</div>
	</div>
{% endblock %}
