{% extends "home/main.html" %}
{% load wp_tags %}
{% block title %}- Remote IP{% endblock %}

{% block metainfo %}
    <meta name="robots" content="nofollow">
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <style type="text/css">
        .ip-info-box {
            text-align: center;
            border-radius: 5px;
            border-color: #D7D7D7;
            border-width: 2px;
            border-style: solid;
            background: #FFFFFF;
            padding: 10px;
        }
        
        .ip-box {
            display: inline-block;
            margin-top: 5px;
            border-radius: 3px;
            border-color: #d7d7d7;
            border-style: solid;
            border-width: 1px;
            padding: 5px;
            color: #970000;
            font-size: 1.2em;
        }
        
        .ip-box.ip-host {
            color: #02448B;
            font-size: 0.85em;
        }
       
    </style>
{% endblock %}
{% block content %}
    <div class='home-welcome-box'>
        <div class='ip-info-box'>
            <span class='ip-label'>
                Your IP Address:
            </span>
            <br>
            {% if request|get_remote_ip %}
                <div class='ip-box'>
                    {{ request|get_remote_ip }}
                </div>
                {% if request|get_remote_host %}
                    <br>
                    <div class='ip-box ip-host'>
                        {{ request|get_remote_host }}
                    </div>
                {% endif %}
            {% else %}
                Sorry, I can't seem to locate your ip.
            {% endif %}
        </div>
    </div>
{% endblock %}