{% extends "home/main.html" %}
{% load wp_tags %}
{% block title %}- Scr1pt K1dd13s{% endblock %}

{% block content %}
	<div class='home-welcome-box'>
		{% if use_img %}
			<div class="img-rounded centered">
				<img src="{{ scriptkid_img }}">
			</div>
		{% endif %}
		
		<p class='home-welcome-text'>
			You are an idiot. Do you have nothing better to do with your time? I used to do things
			like this when I was a kid, but when I became a man I had to put away childish things.
			No script kiddies are welcome here. Leave.
			
			{% if use_ip %}
				<br/><br/>
				Your ip has been logged: {{ ip_address }}
			{% endif %}
		</p>
		
	</div>
{% endblock %}


