{% extends "home/main.html" %}
{% load wp_tags %}

{% block title %}- Stats{% endblock %}

{% block metainfo %}
    <meta name="description" content="Statistics for welborn productions projects, scripts, tools, blog posts and web applications.">
{% endblock %}

{% block content %}
	<!-- Projects Block -->
	<div class='title-box' style='background: #ffffff; padding-left: 5px; margin-top: 10px; margin-bottom: 20px;'>
		<h3 class='title'>Current stats:</h3>
	</div>
	{% if stats %}
	   {% for statinfo in stats.stats %}
	       <div class='stats-block'>
	           <div class='title-box' style='background: #ffffff; padding-left: 5px; margin-top: 10px;'>
	               <h3 class='title'>{{ statinfo.title }}:</h3>
	           </div>
	           <div class='stats-lines'>
	               {% for line in statinfo.statlines %}
	                   {{ line }}
	               {% endfor %}
	           </div>
	       </div>
	   {% endfor %}
	{% else %}
	   <!-- No StatsCollection() -->
	   <div class='stats-block'>
	       <span>Sorry, no stats available.</span>
	   </div>
	{% endif %}
{% endblock %}
