{% extends "home/main.html" %}
{% load wp_tags %}
{% block title %}- Text Mode{% endblock %}

{% block metainfo %}
    <meta name="robots" content="nofollow">
    <meta name="description" content="Determine if welborn prod. considers your browser a text mode browser. For plain-text you can visit /textmode instead of /textmode.html">
{% endblock %}

{% block content %}
    <div class='home-welcome-box'>
        <div class='info-box'>
            <span class='info-label'>
                Your User Agent:
            </span>
            <div>
                {% with request|get_user_agent as useragent %}
                    {% if useragent.ua_string %}
                        <div class='info-value'>
                            {{ useragent.ua_string }}
                        </div>
                    {% else %}
                        Sorry, I can't seem to get your user agent string.
                    {% endif %}
                {% endwith %}
            </div>
            <span class='info-label'>
                Text mode:
            </span>
            <div class='info-value'>
                {{ request|is_textmode }}
            </div>
        </div>
    </div>
{% endblock %}
