{% extends "home/main.html" %}
{% load wp_tags %}
{% block title %}- User Agent{% endblock %}
{% block metainfo %}
<meta name="robots" content="nofollow">
<meta name="description" content="View your user agent string by visiting this welborn productions page. For plain-text you can visit /useragent instead of /useragent.html">
{% endblock %}
{% block content %}
<div class='home-welcome-box'>
<div class='info-box'>
<span class='info-label'>
Your User Agent:
</span>
<br>
{% with request|get_user_agent as useragent %}
{% if useragent.ua_string %}
<div class='info-value'>
{{ useragent.ua_string }}
</div>
{% else %}
Sorry, I can't seem to get your user agent string.
{% endif %}
{% endwith %}
</div>
</div>
{% endblock %}
