cssselect >= 1.0.0
Colr >=0.5.2
Django == 1.10.4
bpython >= 0.15.0
django-debug-toolbar >= 1.6.0
django-extensions >= 1.7.5
django-money >= 0.10.1
django-solo == 1.1.2
# Moved to third_party/ until this version is available on pip.
# django-user-agents >= 0.3.1
docopt >= 0.6.2
docutils >= 0.13.1
lxml >= 3.6.4
oauthlib >= 2.0.1
printdebug >= 0.2.2
psycopg2 >= 2.6.2
py-moneyed >= 0.6.0
pycrypto >= 2.6.1
pygments >= 2.1.3
pytidylib >= 0.3.2
requests >= 2.10.0
requests-oauthlib >= 0.7.0
six >= 1.10.0
south >= 1.0.2
sqlparse >= 0.2.2
twython >= 3.4.0
ua-parser >= 0.7.2
user-agents >= 1.0.1
