{% extends "home/main.html" %}
{% load wp_tags %}
{% load apps_tags %}

{% block title %}- Phone Words{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="/static/css/phonewords.min.css"/>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/static/js/phonewords.min.js"></script>
{% endblock %}

<!-- Floating message -->
{% block floater %}
    <div id="floater">
        <span id="floater-msg">
            Generating results
            {% if query %}
                for: {{ query }}
            {% else %}
                ...
            {% endif %}
        </span>
        <br>
        <span id='floater-smalltext'>
            this may take a minute
        </span>
    </div>
{% endblock %}

{% block content %}
    <div class='phonewords-container'>
        <div class='phonewords-header'>
            <h3 class='header'>PhoneWords</h3>
            <span class='version'>version {{ version }}</span>
        </div>
        <!-- App container -->
        <div class='phonewords-container phonewords-sub-container'>
            <!-- Query Form -->
            <div class='phonewords-form'>
                <form id='lookup-form' method='POST' action='/apps/phonewords/' onsubmit='javascript: return phonewords.validate_submit();'>{% csrf_token %}
                    <span class='input-label'>
                        Word or number to look up:
                    </span>
                    <input type='text' name='query' id='query-box' class='input-text app-input-text' maxlength='8' required='True'>
                    <a href='javascript: void(0);' onclick='javascript: phonewords.do_lookup();'>
                        <div class='submit-button app-submit-button'>
                            <span>lookup</span>
                        </div>
                    </a>
                </form>
            </div>
            <!-- Results Area -->
            <p>
                <!-- Had Errors? -->
                {% if errors %}
                    <span>There was an error processing that:</span>
                    <br>
                    <span>{{ errors }}</span>
                {% else %}
                    {% if hasargs %}
                        <div class='phonewords-results-box'>
                            <h3 class='header phonewords-header'>
                                Results:
                            </h3>
                            <span class='phonewords-results-count'>
                                Total: {{ results|getlength }}
                            </span>
                            <div class='phoneword-results-box'>
                                <!-- Results from lookup function. -->
                                {% if results %}
                                    <textarea id='pw_results' rows={% if results.items|getlength < 40 %} '{{ results.items|getlength|add:"1" }}' {% else %} '40' {% endif %} cols='40' readonly placeholder='Loading results...' class='phonewords-textarea'>
                                        {% for resnumber, resword in results|sortdict %}
                                            {{ resnumber }} : {{ resword }}
                                        {% endfor %}
                                    </textarea>
                                {% else %}
                                    <textarea id='pw_results' rows='4' cols='60' readonly placeholder='Loading results...' class='phonewords-textarea'>
                                        No results found.
                                        Possibly too many 1s or 0s in the number,
                                        or just not enough good letters to make a word.
                                    </textarea>
                                {% endif %}
                            </div>
                            <!-- Total from get_phonewords() -->
                            {% if total %}
                                <br>
                                <div class='phonewords-total-box'>
                                    <span>Total attempts: {{ total }}</span>
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <!-- Default index page (or No args/Bad args) -->
                        <div class='phonewords-results-box' style='background: white;'>
                            <span class='I'>
                                Enter a small word or a seven digit number.
                            </span>
                            <h3 class='title'>About:</h3>
                            <p class='desc'>
                                This utility will find the phone-number for a
                                given word, or find all possible words for a
                                7 digit phone number.
                            </p>
                            <p class='desc'>
                                <span class='phonewords-warning'>
                                    It does not save phone numbers
                                </span>
                                , nor does it attach
                                a given number to your ip address. There is no way for
                                it to know if you are entering your 
                                <span class='I'>real number</span> anyway.
                                <br><br>
                                This is an open-source site, you can look at the source
                                code for this app at
                                <a href='http://github.com{{ "phonewords/dev"|gitdir }}' target="_blank">
                                    github.com
                                </a>.
                            </p>
                            <h3 class='title'>Words:</h3>
                            <p class='desc'>
                                Any word that is 3 to 7 characters long can be entered,
                                and any non-alphabetical character will not be converted to
                                a number.
                                <h3 class='title'>Word Example:</h3>
                                <p class='desc'>
                                    If you enter 'niceapp', the response would be <code>niceapp : 642-3277</code>
                                </p>
                            </p>
                            <h3 class='title'>Numbers:</h3>
                            <p class='desc'>
                                For numbers, you may use a hyphen but other non-number characters
                                are rejected. The limit is seven due to the number of comparisons and
                                combinations that have to be calculated. The limit ensures
                                some kind of reasonable response time.
                                <h3 class='title'>Number Example:</h3>
                                <p class='desc'>
                                    If you enter '762-7827', the response would include about 70 results
                                    including <code>smart27 : smart</code>, <code>7627tap : tap</code>,
                                    <code>snap827 : snap</code>, and the combined words like <code>snaptap : snaptap</code>.
                                </p>
                            </p>


                    {% endif %}
                {% endif %}

            </p>
        </div>
    </div>
{% endblock %}

{% block bodyend %}
    <script type='text/javascript'>
        // Initialization
        $(document).ready(function () {
            wptools.center_element('#floater', true);
        });
        window.onresize = function () {
            wptools.center_element('#floater', true);
        };
    </script>
{% endblock %}