/* -- apps.css -- */
.apps-header {
  margin-bottom: 10px; }

.apps-header-text {
  margin-top: 5px; }

.apps-header-title {
  display: inline-block; }

.apps-listing-box {
  margin-top: 10px; }

.apps-listing-item-box {
  margin: 15px;
  padding: 10px;
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: #bac2c7 0px 0px 15px;
  text-align: left; }

.apps-header-box {
  text-align: left;
  width: 100%; }

.apps-name {
  font-size: 1.5em;
  text-shadow: #999999 1px 1px 3px; }

.version {
  font-size: 0.8em;
  color: #4d4d4d;
  font-weight: bold;
  font-family: "Source Sans Pro", "Arial Black", "Liberation Sans", Arial, sans-serif;
  text-align: right;
  padding-left: 0%; }

.apps-desc {
  background: white;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  border-color: rgba(202, 217, 224, 0.5);
  border-style: solid;
  border-width: 2px;
  padding-left: 20px;
  padding-right: 20px; }

.apps-desc.apps-index {
  font-size: .8em; }

/* Long Description */
.apps-longdesc {
  background: white;
  font-size: 0.8em;
  border-radius: 5px;
  border-color: rgba(202, 217, 224, 0.5);
  border-style: solid;
  border-width: 2px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.07);
  padding: 5px;
  margin-bottom: 10px; }

/* Goto Button */
.apps-button {
  font-family: "Ubuntu", "Open Sans", "Century Gothic", "Arial Black", "Liberations Sans", Arial, sans-serif;
  font-size: 0.8em;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  box-shadow: #bac2c7 1px 1px 4px;
  -moz-box-shadow: #bac2c7 1px 1px 4px;
  -webkit-box-shadow: #bac2c7 1px 1px 4px;
  padding: 5px; }
