/* Search Form  */
.search-form {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 75px; }

.search-label {
  font-size: 0.8em;
  padding-left: 5px; }

.search-textbox {
  background: white;
  color: #919191;
  font-family: "Source Sans Pro", "Arial Black", "Liberation Sans", Arial, sans-serif;
  border-color: #afafaf;
  border-radius: 5px;
  border-width: 1px;
  width: 200px; }

/* Top of page */
.search-header {
  margin-bottom: 10px; }

.search-header-title {
  display: inline-block; }

.search-header-text {
  margin-top: 5px; }

.search-header-count {
  color: #4d4d4d;
  font-weight: bold; }

.search-header-query {
  color: #26a1f4;
  font-weight: bold; }

/* Listing */
.search-listing {
  padding: 5px;
  border-radius: 5px;
  background: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.07);
  margin-bottom: 10px; }

.search-listing-title-box {
  position: relative;
  display: inline-block;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgba(202, 217, 224, 0.5);
  border-style: solid;
  padding: 3px; }

.search-listing-title-box:hover {
  border-color: #b5ceff; }

.search-listing-title {
  margin-bottom: 5px;
  font-size: 1.5em; }

a.search-listing-title {
  font-size: 1.5em; }

.search-listing-body {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(202, 217, 224, 0.5);
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px; }

.search-listing-date-box {
  display: inline-block;
  margin-left: 5px;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgba(202, 217, 224, 0.5);
  padding: 2px;
  right: 15px;
  position: absolute; }

.search-listing-date {
  font-size: 0.8em;
  font-weight: bold;
  color: #afafaf; }

/* Navigation */
.search-nav-box {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgba(202, 217, 224, 0.5);
  padding: 2px;
  display: inline-block; }

.search-nav-label {
  text-transform: lowercase;
  color: #26a1f4;
  font-size: 0.8em;
  font-weight: bold;
  display: block;
  padding-bottom: 2px;
  padding-left: 5px; }

.search-nav-button {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: #74afee;
  padding-left: 2px;
  padding-right: 2px;
  display: inline-block; }

.search-nav-button:hover {
  border-color: #74afee; }

.search-nav-button-text, .search-nav-button-text-disabled {
  font-size: 0.8em;
  font-weight: bold;
  color: #74afee; }

.search-nav-button-text:hover {
  color: #26a1f4; }

.search-nav-button-text-disabled:hover {
  color: #74afee; }
