/* Styles for misc object listing/pages */

/* Misc Object Listings */ 
.misc_listing, .misc-listing {
    text-align: center;
}
.misc_container, .misc-container {
    margin: 15px;
    padding: 10px;
    background-color: #FAFAFA;
    border-radius: 5px;
    box-shadow: #BAC2C7 0px 0px 15px;
    text-align: left;

}

.misc_header, .misc-header-box {
    text-align: left;
    width: 100%
}

.misc-header {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    font-family: "Open Sans", "Century Gothic", "Arial Black", "Liberations Sans", sans-serif;
    font-size: 3.5em; /* big header for projects/sections */
    color: #26A1F4;
    text-transform: lowercase;
    }
    
.misc_name, .misc-name {
    font-size: 2em;
}

.version {
    font-size: .75em;
    color: #535353;
    font-weight: bold;
    font-family: "Open Sans", "Arial Black", "Liberation Sans", Arial, sans-serif;
    text-align: right;
    padding-left: 0%;
}

.misc_desc, .misc-desc {
    background: #ffffff;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    border-color: rgba(202, 217, 224, 0.5);
    border-style: solid;
    border-width: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

.misc-download-box-wrapper {
    text-align: center;
}
.misc-download-box {
    background: #ffffff;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #e2e2e2;
    padding: 5px;
    display: inline-block;
    position: relative;
}

.misc-download-button {
    font-family: "Open Sans", "Century Gothic", "Arial Black", "Liberation Sans", sans-serif;
    font-size: 1em;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    box-shadow: #BAC2C7 1px 1px 4px;
    -moz-box-shadow: #BAC2C7 1px 1px 4px;
    -webkit-box-shadow: #BAC2C7 1px 1px 4px;
    
    padding: 5px;
}
/* Type Info */
.misc-type-info-box {
    display: block;
    position: relative;
    margin-bottom: 5px;
}
.misc-type-info-item {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}
.misc-type-label {
    font-size: .9em;
    color: #535353;
}
.misc-type-value {
    font-size: .9em;
    color: #26a1f4;
}
/* Show More/Less Button */
.misclongdescbtn {
    background: white;
    border-radius: 9px;
    border-style: solid;
    border-color: #DDDDDD;
    border-width: 2px;
    padding: 5px;
    display: inline-block;
    position: relative;
    margin-top: 5px;
    font-size: .85em;
}

.misclongdescbtn-wrapper {
    text-align: center;
    position: relative;
    display: inline-block;
}
/* Long Description */
.misclongdesc {
    background: white;
    font-size: .9em;
    border-radius: 5px;
    border-color: #e2e2e2;
    border-style: solid;
    border-width: 2px;
    box-shadow: #BAC2C7 3px 3px 5px;
    padding: 5px;
    margin-bottom: 10px;
}
/* Misc Page */
.misc_title, .misc-title {
    margin-bottom: 15px;
}

