{% load wp_nodes %}
{% load projects_tags %}

<div class='wp-block feature-list' id='about'>
	<!-- Description -->
	<p>
	Manage your BASH aliases and functions using a GUI. Integrate one or more scripts into bashrc
	 with one click. <strong>Alias Manager</strong> will let you edit your scripts by listing all
	 aliases and functions in alphabetical order with a name, comment, command, and exported status.
	 After editing the comment and command, and if it's a function, you can select whether or not the
	 function is exported for global use, or not exported (for local script use). With integration
	 enabled <strong>Alias Manager</strong> adds one line to your bashrc that tells BASH to run the
	 <strong>Alias Manager</strong> helper script. This 'helper script' runs any script that you have
	 integrated with <strong>Alias Manager</strong> on BASH-startup. If no scripts are integrated
	 then the helper script does nothing, otherwise it will let you know which scripts were loaded on
	 BASH-startup.
	</p>
</div>

<!-- Article Ad -->
{% ad_article %}

<div class='wp-block feature-list'>
	<!-- New Features -->
	<div class='title-box' id='updates'>
		<h3 class='title'>New Features</h3>
	</div>
	<div class='update-box'>
		<!-- Update 1.7.6 -->
		<span class='update-title'>Update: version 1.7.6</span>
		<ul class='blue circle'>
			<li>
				Added [bash]-C[?bash] flag to convert functions or aliases to standalone scripts.
			</li>
			<div class='listdesc'>
				A script will be generated containing a function definition and a call of that function (with all args).
				<br>
				Usage: <code class='bash'>aliasmgr -C &lt;known_alias&gt; [&lt;target_file.sh&gt;] [-o]</code>
				<br>
				The [bash]-o[?bash] flag will overwrite existing files. The default action is to add a number
				to existing filenames ([bash]myscript.sh[?bash], [bash]myscript2.sh[?bash]).
			</div>
		</ul>

		<!-- Update 1.7.5 -->
		<span class='update-title'>Update: version 1.7.5</span>
		<ul class='blue circle'>
			<li>
	        	Fixed parsing of aliases/functions, now parses a little faster too.
	        </li>
	        <div class='listdesc'>
	        	Now showing a warning if not all aliases or functions could be parsed.
	    	</div>
	    </ul>
	    <!-- Update 1.7.2 -->
		<span class='update-title'>Update: version 1.7.2</span>
		<ul class='blue circle'>
			<li>
				Added new command-line features to search for or list known aliases/functions.
			</li>
			<li>
				Changed flag format, command-line flags must have a '-' preceding them.
			</li>
			<li>
				Cleaned code, separate py files for classes like utilities, cmdline, and GUI.
			</li>
		</ul>
		<!-- Update 1.7 -->
		<span class='update-title'>Update: version 1.7</span>
		<ul class='blue circle'>
			<li>
		    	Search is now integrated into the main window, and works as intended.
		    </li>
		    <li>
		    	Sliding pane added between items and command info.
		    </li>
		    <li>
		    	Rename item added.
		    </li>
		    <li>
		    	Auto-select new items, and re-select previous items on load/save.
			</li>
		</ul>
	</div>
</div>

<!-- Download -->
<div class='wp-block feature-list'>
	<div class='title-box' id='download'>
		<h3 class='title'>Download</h3>
	</div>
	{% downloads project %}
</div>

<!-- Source -->
<div class='wp-block feature-list'>
	<div class='title-box' id='source'>
		<h3 class='title'>Source Code</h3>
	</div>
	<p>
	    <a href='https://github.com/welbornprod/aliasmanager.git' target='blank'>
	    Alias Manager (github)
	    </a>
	    &nbsp;- current <strong>Alias Manager</strong> source code at
	    <a href='http://github.com' target='_blank'>github</a>.
	</p>
	{% source_view project request %}
</div>

<!-- Screenshots -->
<div class='wp-block feature-list'>
	<div class='title-box' id='screenshots'>
		<h3 class='title'>Screenshots</h3>
	</div>
	{% image_viewer project.screenshot_dir %}
</div>
