{% load wp_nodes %}
{% load projects_tags %}

<div class='wp-block feature-list' id='about'>
	<!-- Description -->
	<div class='paragraph'>
		Python module for easily setting, getting, saving, &amp; retrieving python
		application settings. Tested with Python 2.7 and 3.2.
	</div>
	<div class='paragraph'>
		EasySettings allows you to easily save and retrieve simple application settings.
		Handles non-string types like [python]bool[/python], [python]int[/python], [python]long[/python],
		[python]list[/python], as well as normal [python]str[/python] settings. No sections needed,
		just [python]es.set()[/python], [python]es.get()[/python], and [python]es.save()[/python].
	</div>
	<div class='paragraph'>
		A JSONSettings object is also included to allow easily saving/retrieving
		settings in JSON format.
	</div>
</div>
<!-- Article Ad -->
{% ad_article %}

<!-- Download -->
<div class='wp-block feature-list'>
	<div class='title-box' id='download'>
		<h3 class='title'>Download</h3>
	</div>
	{% downloads project %}
</div>

<!-- Source View -->
<div class='wp-block feature-list'>
	<div class='title-box' id='source'>
		<h3 class='title'>Source Code</h3>
	</div>
	<span>
		<a href='http://github.com/welbornprod/easysettings.git' target='_blank'>
			EasySettings (github)
		</a>
		&nbsp;- Source code hosted at <a href='http://github.com' target='_blank'>github.</a>
	</span>
	{% source_view project request %}
</div>

<!-- Installation -->
<div class='wp-block feature-list'>
	<div class='title-box' id='installation'>
		<h3 class='title'>Installation</h3>
	</div>
	<div class='paragraph'>
		Once the package is downloaded and extracted, open a terminal and [code]cd[?code] to
		the directory containing [code]setup.py[?code]. Type:
	</div>

	{% acesnippet "py2-setup" ".bash" %}
			sudo python setup.py install
	{% endacesnippet %}

	<div class='paragraph'>
		For Python 3+ installation you may need to specify the [code]python3[?code] command:
	</div>

	{% acesnippet "py3-setup" ".bash" %}
			sudo python3 setup.py install
	{% endacesnippet %}

	<div class='paragraph'>
		This should install the EasySettings package into the appropriate directory, and
		allow you to import it into your projects using:
	</div>

	{% acesnippet "basic-import" ".py" %}
from easysettings import EasySettings
mysettings = EasySettings('myconfigfile.conf')
	{% endacesnippet %}
</div>

<!-- PYPI Package -->
<div class='wp-block feature-list'>

	<div class='title-box' id='pypi_package'>
		<h3 class='title'>PyPi Package</h3>
	</div>
	<div class='paragraph'>
		PyPi package available at:
		<br>
		<a href='http://pypi.python.org/pypi/EasySettings'>pypi.python.org/pypi/EasySettings</a><br/><br/>
		You can download and install EasySettings right from your terminal using 'pip'.
		<br>
		To use pip to install Easy Settings, first make sure it's installed.
	</div>

	<div class='paragraph'>
		Ubuntu instructions to install pip:
	</div>
	{% acesnippet "py2-pip-install" ".bash" %}
			sudo apt-get install python-pip
	{% endacesnippet %}

	<div class='paragraph'>
		For Python 3 pip installation:
	</div>
	{% acesnippet "py3-pip-install" ".bash" %}
			sudo apt-get install python3-pip
	{% endacesnippet %}

	<div class='paragraph'>
		After that you should be able to install Easy Settings by typing:
	</div>
	{% acesnippet "easysettings-install" ".bash" %}
			sudo pip install easysettings
	{% endacesnippet %}

	<div class='paragraph'>
		For Python 3 installation you may need to specify the [code]pip-3[?code] command:
	</div>
	{% acesnippet "pip3-easysettings-install" ".bash" %}
# 3.4 should be substituted with whatever version you use. (3.2, 3.3, etc.)
sudo pip-3.4 install easysettings
	{% endacesnippet %}

	<div class='paragraph'>
		[code]easy_install[?code] also works for people that prefer the [code]easy_install[?code]
		method.
		<br>
		...and as always you can use the [code]pip install easysettings --user[?code] method
		to install per-user without using sudo.
	</div>
</div>

<!-- Updates -->
<div class='wp-block feature-list'>
	<div class='title-box' id='updates'>
		<h3 class='title'>Updates</h3>
	</div>
    <div class='update-box'>
		<!-- 2.0.3 -->
		<span class='update-title'>Update: Version 2.0.3</span>
		<ul class='circle blue'>
			<li>
				Added [code]JSONSettings[?code] and [code]JSONMixin[?code].
			</li>
			<div class='listdesc'>
				[code]JSONSettings[?code] is a [code]UserDict[?code] that uses
				[code]JSONMixin[?code] to easily save and retrieve settings in
				JSON format. Example use:
				{% acesnippet "jsonsettings-example" ".py" %}
from easysettings import JSONSettings
settings = JSONSettings.from_file('myfile.json')
settings['option1'] = 'value'
settings.save()
				{% endacesnippet %}
			</div>
			<li>
				Several documentation changes were made, cleaning up a bit really.
			</li>
			<li>
				Main modules were restructured, but it should have no affect on
				existing code.
			</li>
			<li>
				A couple of undocumented features were added.
			</li>
			<div class='listdesc'>
				The [code]EasySettings.copy()[?code] method will provide a new
				copy of an [code]EasySettings[?code] instance.
				<br>
				[code]__getitem__()[?code] is implemented now.
				It acts like [code]get()[?code] but a [code]KeyError[?code] is raised
				when the option cannot be found.
			</div>
		</ul>

    	<!-- 1.9.3 -->
    	<span class='update-title'>Update: Version 1.9.3</span>
    	<ul class='circle blue'>
    		<li>
    			Added [code]EasySettings.header[?code] attribute.
    		</li>
    		<div class='listdesc'>
    			This header will be added to the top of the config file under the name and version on [code]save()[?code].
    		</div>
    		<li>
    			Added initialization args for [code]name[?code], [code]version[?code], and [code]header[?code].
    		</li>
    		<div class='listdesc'>
    			You can now do:
				{% acesnippet "header-attr-example" ".py" %}
					es = EasySettings('myfile.conf', name='MyApp', version='1.0.0', header='Helps you do stuff.')
				{% endacesnippet %}
    		</div>
    	</ul>

    	<!-- 1.8.9 -->
        <span class='update-title'>Update: Version 1.8.9</span>
        <ul class='circle blue'>
            <li>
                Small changes were made to help compatibility issues between the old and new
                package layouts.
            </li>
            <div class='listdesc'>
                You can still do: [code]from easysettings import easysettings[?code] and
                then [code]easysettings.easysettings()[?code] if you have to. The new method
                is much better though.
            </div>
        </ul>

        <!-- 1.8.7 -->
        <span class='update-title'>Update: Version 1.8.7</span>
        <ul class='circle blue'>
        	<li>
        		Changed package layout.
        	</li>
        	<div class='listdesc'>
        		Instead of [code]from easysettings.easysettings import easysettings[?code],
				the simple form of [code]from easysettings import EasySettings[?code] can be used.
				<br>
				The main class has been given a proper class name.
			</div>
		</ul>

		<!-- 1.8.6 -->
		<span class='update-title'>Update: Version 1.8.6</span>
		<ul class='circle blue'>
			<li>
				Fixed small bug in `setsave()` where `setsave('opt', False)` caused errors.
			</li>
		</ul>

        <!-- 1.8.3 -->
        <span class='update-title'>Update: Version 1.8.3</span>
        <ul class='circle blue'>
        	<li>
				Non-string types were not being loaded or saved
				properly. All issues are resolved.
			</li>
			<div class='listdesc'>
				The method has been enhanced so debug printing will be
				'prettier'.
				<br>
				Example of 'debug printing' settings:
				{% acesnippet "debug-print-example" ".py" %}
from easysettings import EasySettings
settings = EasySettings('myconfigfile.conf')
settings.set('option', True)
settings.set('option2', ['cjw', 'amy', 'joseph'])
print(settings)
# this will now print as:
#       {'option': True, 'option2', ['cjw', 'amy', 'joseph']}
# instead of pickle's messed up looking strings like:
#       {'option': I01\n.  (for a True boolean value), ... }
				{% endacesnippet %}

				This fix also allows you to save values with the newline
				character in them.
				<br>
				So code like this will work:
				{% acesnippet "newline-settings-example" ".py" %}
settings.set('mytext', 'this\nstring\n\has\nnewlines.')
print settings.get('mytext')
# this will result in:
#       this
#       string
#       has
#       newlines.
				{% endacesnippet %}
			</div>
		</ul>
    </div>
</div>

<!-- Example Usage -->
<div class='wp-block feature-list'>
	<div class='title-box' id='usage'>
		<h3 class='title'>Example Usage</h3>
	</div>

	<h2 class='title'>
		Basic Usage
	</h2>

	{% acesnippet "basic-usage-example" ".py" %}
#!/usr/bin/env python
# --------------- Creation ----------------

from easysettings import EasySettings

settings = EasySettings("myconfigfile.conf")

# configfile_exists() checks for existing config, and creates one if needed.
# ** this function is called automatically now when a filename is passed to EasySettings. **
# if you wish to disable it, just do: settings = EasySettings() and set
# settings.configfile later.

# ------------- Basic Functions -----------
# set without saving
settings.set("username", "cjw")
settings.set("firstrun", False)

print settings.get("username")
# this results in "cjw"

# check if file is saved
if not settings.is_saved():
	print "you haven't saved the settings to disk yet."

# ...settings are still available even if they haven't
#    been saved to disk

# save
settings.save()

# you may also set & save in one line...
settings.setsave("homedir", "/myuserdir")
	{% endacesnippet %}

	<h2 class='title'>
		Other Features
	</h2>
	{% acesnippet "other-features-example" ".py" %}
# check if setting exists if you want
if settings.has_option('username'):
	print "Yes, settings has 'username'"

# list settings/options/values
mysettings = settings.list_settings()
myoptions = settings.list_options()
myvalues = settings.list_values()

# remove setting
settings.remove('homedir')

# clear all option names and values
settings.clear()

# clear all values, leave option names.
settings.clear_values()
	{% endacesnippet %}

	<h2 class='title'>
		Comparison
	</h2>
	{% acesnippet "comparison-example" ".py" %}
# compare two settings objects
settings2 = EasySettings('myconfigfile2.conf')

if settings.compare_opts(settings2):
	print "these have the same exact options, values may differ"
if settings.compare_vals(settings2):
	print "these have the exact same values, options may differ"

if settings == settings2:
	print "these have the exact same settings/values"
	# can also be written as settings.compare_settings(settings2)
	# if you like typing.. :)

if settings > settings2:
	print "settings has more options than settings2"
# all of them work ==, !=, <=, >= , > , <
# ... the < > features are based on amount of options.
#     the = features are based on option names and values.
	{% endacesnippet %}

	<h2 class='title'>
		Features
	</h2>

	<div class='paragraph'>
		Easy Settings has the basic features you would expect out of a settings module,
		and it's very easy to use. If your project needs to save simple settings without
		the overhead and complication of other modules then this is for you. Save, load, set, &amp;
		get are very easy to grasp. The more advanced features are there for you to use,
		but don't get in the way. Settings, options, &amp; values can be listed, searched,
		detected, removed, &amp; cleared.
	</div>
	<div class='paragraph'>
		Easy Settings uses a dictionary to store settings before writing to disk, so you can
		also access settings like a dictionary object using [python]mysettings.settings[/python]. The
		[python]setsave()[/python] function will save every time you set an option,
		and [python]is_saved()[/python] will tell you whether or not the file has
		been saved to disk yet. Code is documented for a newbie, so a
		[python]help('easysettings')[/python] in the python console will get you started.
	</div>
	<div class='paragraph'>
		The search_query argument in the list functions lets you find settings, options,
		and values by search string:
	</div>
	{% acesnippet "search-example" ".py" %}
mydebugoptions = settings.list_options('debug')
# clear all debug values..
settings.clear_values(mydebugoptions)
	{% endacesnippet %}
	<div class='paragraph'>
		Non-string types were added, so any type that can be pickled can be used as an
		option's value. This includes all the major types like int, long, float, boolean, and list.
		All of these values will be retrieved as the same type that was set:
	</div>
	{% acesnippet "non-str-example" ".py" %}
es = EasySettings('myconfigfile.conf)

# Boolean
es.set("newuser", True)
if es.get('newuser'):
	print "now you can use get() as a boolean."

# Integer
es.set('maxwidth', 560)
halfwidth = es.get('maxwidth') / 2 # this math works.

# Float
es.set('soda', 1.59)
f_withtax = es.get('soda') * 1.08

# List
es.set('users', ['cjw', 'joseph', 'amy']) # lists as settings, very convenient
for suser in es.get('users'):
	print "retrieved user name: " + suser

# i won't do them all, but if you can pickle it, you can use it with EasySettings.
	{% endacesnippet %}

<!-- Errors -->
	<p>
		Errors are more descriptive and can be caught using their proper names:
	</p>
	{% acesnippet "custom-error-example" ".py" %}
try:
	es.get('option_with_a_possibly_illegal_value')
except esGetError as exErr:
	print "Error getting option!"
except Exception as exEx:
	print "General Error!"
	{% endacesnippet %}

<!-- Automatic Creation -->
	<h2 class='title'>
		Automatic Creation
	</h2>

	<div class='paragraph'>
		If you pass a file name to EasySettings(), the [python]configfile_exists()[/python] function is called. This
		function will create a blank config file if the file doesn't exist, otherwise it will return [python]True[/python].
		To use the 'automatic creation' do this:
	</div>
	{% acesnippet "auto-creation-example" ".py" %}
settings = EasySettings('myconfigfile.conf')
# if file exists, all settings were loaded.
# if file did not exist, it was created.
# No permissions, disk-full, and other errors are still possible of course
# depending on the machine, or the current directory permissions.
	{% endacesnippet %}
	<p>
		You can disable the 'automatic creation' features by not passing a file name, and loading seperately
		like this:
	</p>
	{% acesnippet "disable-auto-creation-example" ".py" %}
settings = EasySettings()
settings.configfile = 'myconfigfile.conf'
# file has not been created or loaded.
# file must exist before calling 'load_file'
if settings.load_file():
	# all settings were loaded.
else:
	# unable to load file for some reason.
	{% endacesnippet %}
	<p>
		This will work in the same way to disable the automatic creation:
	</p>
	{% acesnippet "disable-auto-creation-example2" ".py" %}
settings = EasySettings()
# file has not been created or loaded.
# file 'myconfigfile.conf' must exist before calling load_file()
if settings.load_file('myconfigfile.conf'):
	# file was loaded.
	# settings.configfile was set by the load_file() function
else:
	# file could not be loaded.
	{% endacesnippet %}

	<p>
		To check if the file exists without creating it automatically you can do this:
	</p>
	{% acesnippet "file-exists-example" ".py" %}
if not settings.configfile_exists(False):
	print 'config file does not exist, and was not created.'
# I actually prefer the os.path.isfile() method if you're not going to automatically
# create the file.
import os.path
if not os.path.isfile(settings.configfile):
	print 'config file does not exist, and was not created.'
	{% endacesnippet %}
</div>
