{% load wp_nodes %}
{% load projects_tags %}

<div class='wp-block feature-list'>
	<p>
		A small utility I wrote to look up color codes. It's very basic, and handy at the same time.
		Basically, you build your color by mixing the Red, Green, &amp; Blue values (and Alpha if looking for
		CSS rgba values)
		and Swatch0r will display the color code in three different formats.
		The formats that Swatch0r can translate to are <strong>HTML</strong> (<em>#000000</em>),
		<strong> RGB</strong> (<em>0,0,0</em>)
		[plus <strong>alpha</strong> value if needed],
		and finally a <strong>Win32 Integer</strong> (<em>useful for programming</em>).
		There are lots of these programs around, as I have stumbled across them from time to time,
		but I needed something for myself to run "on top" of my development programs.
		Swatch0r can be pushed to the background, or stay on top of all other windows.
		You can select a color from my <strong>RGB Slider</strong>, the list of <strong>Windows Known Colors</strong>,
		or <strong>Windows Built-in Color Picker</strong> tool. It remembers the last color you picked at each start,
		and even has a nice little <strong>Copy To Clipboard</strong> button close by. I use it often, and maybe you will too.
	</p>
	<p>
		Contact me at <span class='wp-address'>cj@welbornprod.com</span> if you run into any problems.
		If you've never installed a Visual Basic .Net application before, you may need the runtime libraries.
		These are easily installed from microsoft.com.
	</p>
</div>
<!-- InArticle Ad -->
{% article_ad %}

<!-- Download -->
<div class='wp-block feature-list'>
	<div class='title-box'>
		<h3 class='title' id='download'>Download</h3>
	</div>
	{% downloads project %}
</div>

<!-- Screenshots -->
<div class='wp-block feature-list'>
	<div class='title-box'>
		<h3 class='title' id='screenshots'>Screenshots</h3>
	</div>
	{% image_viewer project.screenshot_dir %}
</div>

