.img-main {
  position: relative;
  display: block; }

.img-header {
  margin-bottom: 5px; }

.img-images-list {
  display: block;
  background: #fafafa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(202, 217, 224, 0.5);
  padding: 5px; }

.img-upload-form {
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(202, 217, 224, 0.5); }

#upload-form {
  display: none; }

.img-image-item {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(202, 217, 224, 0.5);
  padding: 5px;
  margin-bottom: 5px; }

.img-image-title {
  font-size: 1.2em;
  color: #26a1f4; }

.img-image-date {
  display: block;
  font-size: 0.75em;
  color: #919191; }

.img-image-date-str {
  color: #26a1f4;
  font-size: 1em; }

.img-image-album {
  display: block;
  font-size: 0.75em;
  color: #919191; }

.img-image-desc {
  margin-top: 5px;
  text-indent: 10px; }

.img-image-preview {
  width: 100%;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-style: none;
  border-width: 0px;
  -webkit-box-shadow: #eeeeee 0px 0px 20px;
  -moz-box-shadow: #eeeeee 0px 0px 20px;
  -ms-box-shadow: #eeeeee 0px 0px 20px;
  -o-box-shadow: #eeeeee 0px 0px 20px;
  box-shadow: #eeeeee 0px 0px 20px;
  margin-top: 5px; }

.img-image-src {
  max-height: 200px; }

.img-no-images {
  color: #b90000;
  font-size: 1.2em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

.img-input-label {
  display: block; }

.img-checkbox-label {
  display: inline; }
