/* Styles for projects listing/pages */

/* Project Listings */
.project_listing {
	text-align: center;
}
.project_container {
	margin: 15px;
	padding: 10px;
	background-color: #FAFAFA;
	border-radius: 5px;
	box-shadow: #BAC2C7 0px 0px 15px;
	text-align: left;

}

.project_header {
	text-align: left;
	width: 100%
}

.project-header {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
	font-family: "Carrois Gothic", "Century Gothic", "Arial Black", "Liberations Sans", sans-serif;
	font-size: 3.5em; /* big header for projects/sections */
	color: #26A1F4;
	text-transform: lowercase;
    }
    
.project_name {
	font-size: 2em;
}

.version {
	font-size: .75em;
	color: #535353;
	font-weight: bold;
	font-family: "Carrois Gothic", "Arial Black", "Liberation Sans", Arial, sans-serif;
	text-align: right;
	padding-left: 0%;
}

.project_desc {
	margin-top: 10px;
	padding: 5px;
	border-radius: 10px;
	border-color: rgba(202, 217, 224, 0.5);
	border-style: solid;
	border-width: 2px;
}

.project_matches {
	border-radius: 5px;
}
.project_match {
	font-family: "Carrois Gothic", "Century Gothic", "Arial Black", "Arial", "sans-serif";
	padding: 5px;
}

.surround_matches {
	padding-top: 10px;
}

/* Project Page */
.project_title {
	margin-bottom: 15px;
}

.feature-list {
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	margin-top: 10px;
	position: relative;
	border-color: #E2E2E2;
	border-style: solid;
	border-width: 1px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.07);
	background: white;
}

/* Projects Vertical Menu */
.projects-menu {
	position: absolute;
	left: 10px;
	top: 235px;
	background: transparent;
	/*background: #B6B6B6;*/
	padding: 5px;
	/*border-radius: 5px;
	-webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.45);*/
}

ul.projects-menu-main {
	/*background: rgba(255, 255, 255, 0.78);
	border-radius: 4px;*/
	background: transparent;
	padding: 5px;
	list-style: none;
	list-image-style: none;
	
}

li.projects-menu-item {
	border-radius: 10px;
	background: white;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 6px;
	padding-right: 6px;
	border-right-style: none;
	border-left-style: none;
	box-shadow: 4px 4px 5px black;
}

li.projects-menu-item:hover {
	/*border-color: #6BB6FC;*/
	
}
li.projects-menu-item:active {
	border-color: #6BB6FC;
	
}


a.projects-menu-link {
	color: #0093F5;
}

a.projects-menu-link:hover {
	color: gray;
}

.projects-menu-text {
	font-size: 1.0em;
	padding-left: 5px;
	padding-right: 5px;
	text-transform: lowercase;
}

.projects-menu-text:hover {
	font-size: 1.0em;
}
