/* Styles for projects listing/pages */

/* Project Listings */
.project_listing {
	text-align: center;
}
.project_container {
	margin: 15px;
	padding: 10px;
	background-color: #FAFAFA;
	border-radius: 5px;
	box-shadow: #BAC2C7 0px 0px 15px;
	text-align: left;

}

.project_header {
	text-align: left;
	width: 100%
}

.project-header {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
	font-family: "Carrois Gothic", "Century Gothic", "Arial Black", "Liberations Sans", sans-serif;
	font-size: 3.5em; /* big header for projects/sections */
	color: #26A1F4;
	text-transform: lowercase;
    }
    
.project_name {
	font-size: 2em;
}

.version {
	font-size: .75em;
	color: #535353;
	font-weight: bold;
	font-family: "Carrois Gothic", "Arial Black", "Liberation Sans", Arial, sans-serif;
	text-align: right;
	padding-left: 0%;
}

.project_desc {
	margin-top: 10px;
	padding: 5px;
	border-radius: 10px;
	border-color: rgba(202, 217, 224, 0.5);
	border-style: solid;
	border-width: 2px;
}

.project_matches {
	border-radius: 5px;
}
.project_match {
	font-family: "Carrois Gothic", "Century Gothic", "Arial Black", "Arial", "sans-serif";
	padding: 5px;
}

.surround_matches {
	padding-top: 10px;
}

/* Project Page */
.project_title {
	margin-bottom: 15px;
}

.feature-list {
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	margin-top: 10px;
	position: relative;
	border-color: #E2E2E2;
	border-style: solid;
	border-width: 1px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.07);
	background: white;
}


