{% extends "home/main.html" %}
{% load wp_tags %}
{% load img_tags %}
{% block title %}- Images{% endblock %}

{% block metainfo %}
    <meta name='description' content='Images shared by Welborn Productions.'/>
{% endblock %}

{% block extrastyle %}
    <link type='text/css' rel='stylesheet' href='/static/css/img.min.css'/>
{% endblock %}

{% block javascript %}
    <script type='text/javascript' src='/static/js/img.min.js'></script>
{% endblock %}

{% block content %}
   {% if request.user.is_staff %}
        {# A message/alert floater #}
        <div id='floater'>
            <div id='floater-msg' class='floater-msg-error'>
                You must select an image first.
            </div>
            <div id='floater-smalltext'>
            </div>
        </div>
        {# The upload form floater #}
        <div id='img-upload-form-floater'>
            <div class='img-upload-form'>
                <form id='upload-form' enctype='multipart/form-data' method='post' action='/img'>
                    {% csrf_token %}
                    <div class='img-upload-form-attribute'>
                        <label for='upload-image' class='input-label img-input-label'>
                            Image to upload:
                        </label>
                        <input id='upload-image' name='image' type='file' class='input-text' required=True>
                    </div>
                    <div class='img-upload-form-attribute'>
                        <label for='upload-title' class='input-label img-input-label'>
                            Title:
                        </label>
                        <input id='upload-title' name='title' type='text' class='input-text'>
                    </div>
                    <div class='img-upload-form-attribute'>
                        <label for='upload-desc' class='input-label img-input-label'>
                            Description:
                        </label>
                        <textarea id='upload-desc' name='description' cols='30' rows='6' class='input-text'></textarea>
                    </div>
                    <div class='img-upload-form-attribute'>
                        <label for='upload-album' class='input-label img-input-label'>
                            Album:
                        </label>
                        <input id='upload-album' name='album' type='text' class='input-text'>
                    </div>
                    <div class='img-upload-form-private'>
                        <label for='upload-private' class='input-label img-checkbox-label'>
                            Private:
                        </label>
                        <input id='private' name='private' type='checkbox' class='input-checkbox'>
                    </div>
                </form>
                <div class='img-upload-form-buttons'>
                    <a href='javascript: void(0);' onclick='javascript: imgtools.do_upload();'>
                        <div class='wpbutton img-upload-form-upload-btn'>
                            <span>upload</span>
                        </div>
                    </a>
                    {# Cancel button #}
                    <a href='javascript: void(0);' onclick='javascript: $("#img-upload-form-floater").fadeToggle();'>
                        <div class='wpbutton img-upload-form-cancel-btn'>
                            <span>cancel</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

    <div class='img-main'>
        {% if request.user.is_staff %}
            <div class='img-upload-form-reveal-btn'>
                <a href='javascript: void(0);' onclick='javascript: imgtools.toggle_upload_form();'>
                    <div class='submit-button'>
                        <span>upload form</span>
                    </div>
                </a>
            </div>
            <!-- Hide/Show private images -->
            <div class='img-hide-private-box'>
                <input id='chk-img-hide-private' type='checkbox'>
                <span class='img-checkbox-label'>
                    Hide private images
                </span>
            </div>
        {% endif %}
         <div class='img-images-list'>
            <div class='img-header'>
                <h2 class='header'>
                    {% block img_header %}
                        {% if album %}
                            {{ album }}
                        {% else %}
                            all images
                        {% endif %}
                    {% endblock %}
                </h2>
            </div>


            {% if images %}
                {% for image in images %}
                    <div class='img-image-item {% if image.private %}img-image-item-private{% endif %}'>
                        {% if request.user.is_staff %}
                            <a href='/adminimg/wp_image/{{ image.id }}' title='edit this image'>
                                <div class='wpbutton img-edit-btn'>
                                    edit image
                                </div>
                            </a>
                        {% endif %}

                        {% block img_image_title %}
                            <div class={% if image.private %}'img-image-title-private'{% else %}'img-image-title'{% endif %}>
                                {% if image.title %}
                                    {{ image.title }}
                                {% else %}
                                    Untitled
                                {% endif %}
                            </div>
                        {% endblock %}
                        {# User-facing image id. #}
                        <div class='img-image-attribute'>
                            <div class='img-image-label'>
                                id:
                            </div>
                            <div class='img-image-value'>
                                <a href='/img?id={{ image.image_id }}' title='{% if image.title %}{{ image.title }}{% else %}Untitled{% endif %}'>
                                    {{ image.image_id }}
                                </a>
                            </div>
                        </div>
                        {# Human-friendly date #}
                        <div class='img-image-attribute'>
                            <div class='img-image-label'>
                                posted:
                            </div>
                            <div class='img-image-value'>
                                {{ image.publish_date|get_time_since }}
                            </div>
                        </div>
                        {# Include a link to the album #}
                        <div class='img-image-attribute'>
                            <div class='img-image-label'>
                                album:
                            </div>
                            <div class='img-image-value'>
                                <a href='/img?album={% if image.album %}{{ image.album }}{% else %}none{% endif %}' title='{% if image.album %}{{ image.album }}{% else %}none{% endif %}'>
                                    {% if image.album %}{{ image.album }}{% else %}none{% endif %}
                                </a>
                            </div>
                        </div>
                        {# Include the view count. #}
                        <div class='img-image-attribute'>
                            <div class='img-image-label'>
                                views:
                            </div>
                            <div class='img-image-value'>
                                {{ image.view_count }}
                            </div>
                        </div>
                        {# TODO: Possibly include the download count #}

                        {# The actual image view. #}
                        <div class='img-image-preview'>
                            <a href='{{ image|download_url }}' title='{{ image.title }}'>
                                <img src='{{ image.image.url }}' class='img-image-src' alt='{{ image.title }}'>
                            </a>
                        </div>
                        {% if image.description %}
                            <div class='img-image-desc'>
                                {{ image.description }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <span class='img-no-images'>
                    No images have been uploaded.
                    {% if album %}
                        The album '{{ album }}' is empty.
                    {% endif %}
                </span>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block bodyend %}
    {% if request.user.is_staff %}
        <script type='text/javascript'>
            imgtools.init_upload_floater();
            $(document).ready(function () {
                {# Handle hide/show private images #}
                $('#chk-img-hide-private').change(function () {
                    if ($(this).prop('checked')) {
                        $('.img-image-item-private').hide();
                    } else {
                        $('.img-image-item-private').show();
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}
