{% extends "home/main.html" %}
{% load wp_tags %}
{% load paste_tags %}
{% block title %}- Paste Replies{% endblock %}

{% block metainfo %}
    <meta name='description' content='View replies for a paste with the welborn productions paste bin app.'>
{% endblock %}

{% block extrastylelink %}
    <link type='text/css' rel='stylesheet' href='/static/css/paste.min.css'/>
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class='paste-page-header'>
        <div class='paste-page-header-title'>
            <h3 class='header'>
                Paste Replies
            </h3>
        </div>
        <div class='paste-button-box replies-button-box'>
            <!-- New paste button -->
            <a href='/paste'>
                <div id='paste-new' class='wpbutton paste-button' title='Create a new paste..'>
                    New Paste..
                </div>
            </a>
            <!-- View latest -->
            <a href='/paste/latest'>
                <div class='wpbutton paste-button' title='View the latest public pastes..'>
                    View Latest
                </div>
            </a>
            <!-- View top -->
            <a href='/paste/top'>
                <div class='wpbutton paste-button' title='View the top pastes by view count..'>
                    View Top
                </div>
            </a>
        </div>
    </div>
    <div class='paste-listing-surround'>
        <div class='replies-title-box'>
            <a href='/paste/?id={{ paste.paste_id }}'>
                <div class='header replies-title'>
                    {{ paste.title }}
                </div>
            </a>
            <div class='replies-date-box'>
                <span class='paste-date'>
                    {{ paste.publish_date|get_time_since }}
                </span>
            </div>
            <div class='replies-title-label'>
                Replies:
            </div>
            <div class='replies-title-count'>
                {{ replies|length }}
            </div>
        </div>
        <div class='paste-listing-box'>
            {% if not replies %}
                <span class='paste-listing-none-text'>
                    No replies found for this paste.
                </span>
            {% else %}
                {# Build replies list. #}
                {% for reply in replies %}
                    <div class='paste-item'>
                        <a href='/paste/?id={{ reply.paste_id }}'>
                            <div class='paste-item-title'>
                                {{ reply.title }}
                            </div>
                        </a>
                        <div class='paste-item-lang-label'>
                            Language:
                            <span class='paste-item-lang'>
                                {% if reply.language %}
                                    {{ reply.language }}
                                {% else %}
                                    text
                                {% endif %}
                            </span>
                        </div>
                        <div class='paste-item-date'>
                            {{ reply.publish_date|get_time_since }}
                        </div>
                        <div class='paste-item-views'>
                            {{ reply.view_count }}
                            {% if reply.view_count == 1 %}
                                view
                            {% else %}
                                views
                            {% endif %}
                        </div>
                        {% if reply|child_count > 0 %}
                            {# Reply has replies of its own. #}
                            <div class='paste-item-replies'>
                                <a href='/paste/replies/?id={{ reply.paste_id }}'>
                                    {{ reply|child_count }}
                                    {% if reply|child_count == 1 %}
                                        reply...
                                    {% else %}
                                        replies...
                                    {% endif %}
                                </a>
                            </div>
                        {% endif %}

                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
