@import 'welbornprod';
/* Search Form  */
.search-form {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 75px;
}

.search-label {
    font-size:$fontsmall;
    padding-left: 5px;
}

.search-textbox {
    background: white;
    color: $greymain;
    font-family: $fontssmall;
    border-color: $borderlight;
    border-radius: 5px;
    border-width: 1px;
    width: 200px;
}
/* Top of page */
.search-header {
    margin-bottom: 10px;
}

.search-header-title {
    display: inline-block;
}

.search-header-text {
    margin-top: 5px;
}

.search-header-count {
    color: $greydark;
    font-weight: bold;
}

.search-header-query {
    color: $bluemain;
    font-weight: bold;
}

/* Listing */
.search-listing {
    padding: 5px;
    border-radius: 5px;
    background: white;
    box-shadow: $shadownormal;
    -moz-box-shadow: $shadownormal;
    -webkit-box-shadow: $shadownormal;
    margin-bottom: 10px;
}

.search-listing-title-box {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    border-width: 1px;
    border-color: $bordermain;
    border-style: solid;
    padding: 3px;
    
}
.search-listing-title-box:hover {
    border-color: $borderhover;
}
.search-listing-title {
    margin-bottom: 5px;
    font-size: $fontmedium;
    
}

a.search-listing-title {
    font-size: $fontmedium;
}
.search-listing-body {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: $bordermain;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-listing-date-box {
    display: inline-block;
    margin-left: 5px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: $bordermain;
    padding: 2px;
    right: 15px;
    position: absolute;
}

.search-listing-date {
    font-size:$fontsmall;
    font-weight: bold;
    color: $greylight;  
}

/* Navigation */
.search-nav-box {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: $bordermain;
    padding: 2px;
    display: inline-block;
}

.search-nav-label {
    text-transform: lowercase;
    color: $bluemain;
    font-size:$fontsmall;
    font-weight: bold;
    display: block;
    padding-bottom: 2px;
    padding-left: 5px;
}

.search-nav-button {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: $borderblue;
    padding-left: 2px;
    padding-right: 2px;
    display: inline-block;
}

.search-nav-button:hover {
    border-color: $borderblue;
}
.search-nav-button-text, .search-nav-button-text-disabled {
    font-size:$fontsmall;
    font-weight: bold;
    color: $bluelight;
}
.search-nav-button-text:hover {
    color: $bluemain;
}
.search-nav-button-text-disabled:hover {
    color: $bluelight;
}
