@import 'welbornprod';
/* Search Form  */
.search-form {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 75px;
}

.search-label {
    font-size:$fontsmall;
    padding-left: 5px;
}

.search-textbox {
    @include border-radius-thin(5px);
    background: $whitedull;
    color: $greymain;
    font-family: $fontssmall;
    width: 200px;
}
/* Top of page */
.search-header {
    margin-bottom: 10px;
}

.search-header-title {
    display: inline-block;
}

.search-header-text {
    margin-top: 5px;
}

.search-header-count {
    color: $greydark;
    font-weight: bold;
}

.search-header-query {
    color: $bluemain;
    font-weight: bold;
}

/* Listing */
.search-listing {
    @include box-shadow-normal();
    @include border-radius(5px);
    background: $whitedull;
    padding: 5px;
    margin-bottom: 10px;
}

.search-listing-title-box {
    position: relative;
    display: inline-block;
    @include border-radius(5px);
    padding: 3px;

}
.search-listing-title-box:hover {
    border-color: $borderhover;
}
a .search-listing-title, .search-listing-title {
    margin-bottom: 5px;
    font-size: $fontmedium;
    color: $bluemain;

    &:hover {
        color: $bluelink;
    }

}

.search-listing-type-box {
    display: block;
}

a .search-listing-type-label, .search-listing-type-label {
    display: inline;
    font-size: $fontsmall;
    color: $greymain;
}

a .search-listing-type-label:hover {
    color: $bluelink;
}

a .search-listing-type-value, .search-listing-type-value {
    display: inline;
    font-size: $fontsmall;
    color: $bluemain;
}

a .search-listing-type-value:hover {
    color: $bluelink;
}

.search-listing-body {
    @include border-radius-thin(5px);
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-listing-date-box {
    display: inline-block;
    position: absolute;
    @include border-radius-thin(5px);
    margin-left: 5px;
    padding: 2px;
    right: 15px;
}

.search-listing-date {
    font-size:$fontsmall;
    font-weight: bold;
    color: $greylight;
}

/* Navigation */
.search-nav-box {
    padding: 2px;
    display: inline-block;
}

.search-nav-label {
    text-transform: lowercase;
    color: $bluemain;
    font-size:$fontsmall;
    font-weight: bold;
    display: block;
    padding-bottom: 2px;
}

.search-nav-button {
    display: inline-block;
    @include border-radius-thin-color(5px, $borderblue);
    padding-left: 2px;
    padding-right: 2px;
}

.search-nav-button:hover {
    border-color: $borderblue;
}
.search-nav-button-text, .search-nav-button-text-disabled {
    font-size:$fontsmall;
    font-weight: bold;
    color: $bluelight;
}
.search-nav-button-text:hover {
    color: $bluemain;
}
.search-nav-button-text-disabled:hover {
    color: $bluelight;
}
