@import 'welbornprod';

form {
    &#lookup-form,
    .app-submit-button {
        font-size: 1.5em;
        line-height: 1em;
        vertical-align: middle;
    }
}

.phonewords-input-text {
    font-size: 1em;
    width: 8ch;
}

.phonewords-container {
    @include border-radius-thin(5px);
    @include box-shadow-normal();
    background: $whitedull;
    padding: 10px;

    .phonewords-sub-container {
        @include box-shadow(none);
        border-width: 2px;
        margin-top: 10px;
    }
}

.phonewords-header {
    font-size: $fontbig2;
    text-shadow: $shadowtext;
}

.phonewords-results-header {
    font-size: $fontmedium;
    text-shadow: $shadowtextsmall;
}

// Results
.phonewords-results-box {
    @include border-radius-thick(5px);
    display: inline-block;
    padding: 5px;
}

.phonewords-results-count {
    color: $greymain;
    display: inline-block;
    font-family: $fontssmall;
    font-size: $fontsmall;
    font-weight: bold;
    margin-left: 5px;
}

.phonewords-textarea {
    @include border-radius(5px);
    border-color: $bordermain;
    color: $greybg;
    font-family: $fontsmono;
    font-size: $fontinline;
    outline: none;
    overflow: auto;
    resize: none;
}

.phonewords-total-box {
    display: block;
    text-align: right;
}

// Description
.phonewords-warning {
    color: $greenmain;
    font-weight: bold;
}

// Desc. example
.phonewords-desc-example {
    // pushes sub-example of 'desc' to look like a direct child of 'desc'.
    // without the -10, the 'example' is way too far right.
    margin-left: -10px;
}

.phonewords-desc-example-codewrap {
    // codewrap wants to be margin-left: 0px.
    // push the desc-example codewrap way over to the right.
    margin-left: 40px;
}
