@import 'welbornprod';
// ------------------------- about.css -------------------------
.about-box {
  @include box-shadow-normal();
  @include border-radius(5px);
  background: $whitedull;
  display: block;
  overflow: auto;
  padding: 5px;
  zoom: 1;
}

.about-box-extras {
  @extend.about-box;
  overflow: visible;
}

#about-pic-box {
  @include border-radius-none(5px);
  @include box-shadow-normal();
  background: $whitemain;
  float: left;
  height: auto;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 30px;
  padding: 5px;
  text-align: center;
  width: auto;
}

#about-img {
  border: 0;
  height: auto;
  width: auto; }

#about-bio {
  padding-left: 10px;
  padding-right: 10px; }

#about-specialties {
  overflow: visible;
}

#about-contact {
  text-align: left; }

#about-contact-box {
  // container for all contact buttons
  border-style: none;
  margin-top: 5px;
  text-align: center;
  width: auto;
}

.about-contact-button {
  @include border-radius-thin-color(5px, $borderblue);
  display: inline-block;
  margin: 2px;
  padding-left: 2px;
  padding-right: 2px;
}

#about-contrib-box {
    @include border-radius-thin(5px);
    padding: 5px;
}

.about-contrib-item {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
    vertical-align: top;
}

#github-badge-wrapper {
  display: block;
}
