@import 'welbornprod';

a.dock-item {
    position: absolute;
    display: block;
    width: 50px;
    bottom: 0;
    font-family: $fontsnormal;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    text-shadow: $shadowtext;
}

.dock-item span {
    display: none;
    padding-left: 20px;
}

.dock-item img {
    border: 0;
    margin: 5px 10px 0px;
    width: 100%;
}

#dock {
    margin-top: 110px;
    position: relative;
    display: inline-block;
}
