@import 'welbornprod';

// scss-lint:disable QualifyingElement
@media screen {
    a.dock-item {
        bottom: 0;
        color: $whitemain;
        display: block;
        font-family: $fontsnormal;
        font-weight: bold;
        position: absolute;
        text-align: center;
        text-decoration: none;
        text-shadow: $shadowtext;
        width: 50px;

        &.noscript {
            float: left;
            margin-right: 30px;
            position: relative;
        }

        &.noscript:hover,
        &.noscript:active {
            color: $greymain;
        }
    }

    .dock-item.noscript:hover {
        transform: scale3d(1.25, 1.25, 1);
        transition: .25s;
        transition-timing-function: cubic-bezier(.22, .61, .36, 1);
    }

    .dock-item.noscript span {
        display: block;
    }

    .dock-item span {
        display: none;
        margin-left: 10px;
        text-align: center;
        text-transform: lowercase;
        width: 100%;
    }

    .dock-item img {
        border: 0;
        margin-bottom: 0;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        width: 100%;
    }

    #dock {
        display: inline-block;
        margin-top: 110px;
        opacity: 0;
        position: relative;

        &.noscript {
            margin-top: 0;
        }
    }

    @keyframes fadein {
        0% { opacity: 0; }
        100% { opacity: 100%; }
    }
}

@media print {
    #dock {
        // scss-lint:disable ImportantRule
        display: none !important;
    }
}
