@import 'welbornprod';
/* -------------------------- home.css -------------------------- */
.home-welcome-text {
    margin-bottom: 10px;
}
.home-welcome-extra-msg {
    margin-bottom: 10px;
}

// container for 'Featured Project/Latest Blog
.featured-main-box, .home-welcome-box {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin: 15px;
    position: relative;
    @include border-radius(5px);
    border-color: $bordermain;
    border-style: solid;
    border-width: 1px;
    @include box-shadow($shadownormal);
    background: white;
}

// container for feature/blog entry/project
.featured-item-container {
    margin: 15px;
    padding: 10px;
    background-color: $whitedull;
    @include border-radius(5px);
    box-shadow: $shadowmedium;
    text-align: left;

}

// Header box with name/title version/date
.featured-header-box {
    text-align: left;
    width: 100%
}

.featured-name {
    font-size: 2em;
}

.featured-version {
    font-size:$fontsmall;
    color: $greydark;
    font-weight: bold;
    font-family: $fontsnormal;
    text-align: right;
    padding-left: 0%;
}

// box holding description/body
.featured-desc {
    margin-top: 10px;
    padding: 5px;
    @include border-radius(10px);
    border-color: $bordermain;
    border-style: solid;
    border-width: 2px;
}

// latest tweet stuff.
.tweet-box {
    // a div containing a single tweet.
    padding: 5px;
    @include border-radius(5px);
    //border-width: 1px;
    //border-style: solid;
    //border-color: $bordermain;

}

.tweet-text {
    // a div containing a the text from a tweet.
    font-family: $fontsnormal;
    font-size: 1em;
    padding: 5px;
    margin-top: 5px;
    @include border-radius(5px);
    border-width: 1px;
    border-style: solid;
    border-color: $bordermain;
}

.tweet-screen-name {
    // a div containing the screen_name for a tweet.
    display: inline-block;
    position: relative;
    font-family: $fontsnormal;
    font-size: $fontbigger;
    color: $bluemain;
    text-shadow: $shadowtextmedium;
    vertical-align: super;

    & a {
        @extend .tweet-screen-name;

        &:before {
            content: '@';
            color: $greymain;
        }
    }


}

.tweet-profile-image {
    // a div containing the profile image for a twitter user.
    display: inline-block;

    & img {
        border-width: 0px;
        @include border-radius(5px);
        @include box-shadow($shadowbox);

    }
}

.tweet-photo-box {
    display: block;
    padding: 5px;
    //border-width: 1px;
    //border-style: solid;
    //border-color: $bordermain;
    @include border-radius(5px);
    //@include box-shadow($shadowbox);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;


    &:before {
        display: block;
        content: 'Photo:';
        color: $greylight;
        margin-bottom: 5px;
        margin-left: 5px;
    }
}

.tweet-photo {
    display: inline-block;
    border-radius: 5px;
}

