@import 'welbornprod';


#user-tools {
    /* position: absolute; -Cj Disabled because /login was looking horrible */
    top: 0;
    right: 0;
    padding: 1.2em 10px;
    font-size: 11px;
    text-align: right;
}

#site-name, #branding h1 {
    font-family: $fontsnormal;
    font-size: $fontbig2;
    text-shadow: $shadowtextmedium;
}

#header {
    background: #CFCFCF;
    color: #858585;
    overflow: hidden;
    width: 100%;
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgba(5, 5, 5, 0.66);

}

.breadcrumbs {
    background: #FFF url(../img/nav-bg-reverse.gif) 0 -10px repeat-x;
    border-radius: 10px; //
    margin-top: 10px; //
    margin-right: 20px; //
    margin-left: 20px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5); //
    padding: 2px 8px 3px 8px;
    font-size: 11px;
    color: #999;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #CCC;
    text-align: left;
}
/* Custom items (from wp_tags filters or other) */
a.item-disabled, .item-disabled {
    /* Disabled items are grey! */
    color: #c5c5c5;
    /*font-weight: normal;*/
}

a.item-expired, .item-expired {
    /* expired pastes/items are red */
    color: rgb(160, 0, 0);
}

a.item-disabled.item-expired, .item-disabled.item-expired {
    /* expired, already disabled items are red/grey. */
    color: rgb(206, 154, 154);
}

a.item-onhold, .item-onhold {
    /* Onhold items are outlined! */
    text-decoration: overline underline;
}

a.item-private, .item-private {
    /* Private items are italic. */
    font-style: italic;
}

.vLargeTextField, .vXMLLargeTextField {
    // TODO: This may not override the default as needed.
    //       It was put here as a reminder to work on admin textfields.
    font-family: $fontsmono;
}
