{% extends "home/main.html" %}
{% block title %}- Sandbox{% endblock %}

{% block extrastyle %}
    <link type='text/css' rel='stylesheet' href='/static/css/sandbox.min.css'/>
{% endblock %}

{% block javascript %}
    <!--<script type='text/javascript' src='/static/js/sandbox-bundled.min.js'></script>-->
    <script type='text/javascript' src='/static/js/sandbox.min.js'></script>
{% endblock %}

{% block content %}
    <div id='sandbox'>
        No data loaded yet.
    </div>
{% endblock %}

{% block bodyend %}
    <script type='text/javascript'>
        $(document).ready(function () {
            wptools.pre_ajax();
            $.get('/static/json/sandbox.json')
                .then(
                    // success
                    function (data, statustype, xhrobj) {
                        if (data != null) {
                            var msg = data.message;
                        } else {
                            var msg = 'Data was null.';
                        }
                        if (! msg) { msg = 'No data received!'; }
                        $('#sandbox').text(msg);
                    },
                    // error
                    function (xhr, statustype, errorthrown) {
                        $('#sandbox').text('Error: ' + errorthrown.toString());
                    });


        });
    </script>
{% endblock %}

