{% extends "home/main.html" %}
{% block title %}- Search{% endblock %}

{% block contentabove %}
	<div class="search-header">
		<div class="search-header-title">
			<a href='/search'>
				<h3 class='header'>Search</h3>
			</a>
		</div>
		
		<div class="search-header-text">
				<span class="title">Search welborn productions</span>
		</div>
	</div>
{% endblock %}
{% block content %}
	<div class="search-form" style="top: 50px;">
		<span class="search-label">Enter something to search for: </span>
		<form>
			<input type="search" name="q" id="searchbox" class="search-textbox" required=True></input>
			<input type="submit" id="search-button" class="submit-button" title="Search"></input>
			
		</form>
	</div>
{% endblock %}

