{% extends "home/main.html" %}
{% block title %}Welborn Productions - Search{% endblock %}

{% block extrastylelink %}
	<link rel="stylesheet" href="/static/css/searcher.css" type="text/css"/>
{% endblock %}

{% block contentabove %}
	<div class="search-header">
		<div class="search-header-title">
			<a href='/search'>
				<h3 class='header'>Search</h3>
			</a>
		</div>
		
		<div class="search-header-text">
				<span class="title">Search welborn productions</span>
		</div>
	</div>
{% endblock %}
{% block content %}
	<span>Nothing here yet.</span>
{% endblock %}

