{% extends "home/main.html" %}
{% load wp_tags %}

{% block title %}- Projects{% endblock %}

{% block extrastyle %}
	<style type='text/css'>
		.wpbutton.project-edit-button {
			position: absolute;
			right: 10px;
		}
	</style>
{% endblock %}

<!-- Build projects menu -->
{% block verticalmenu %}
	{% if projects %}
		<div class="vertical-menu">
			<ul class="vertical-menu-main">
				{% for project in projects %}
					<li class="vertical-menu-item">
						<a class="vertical-menu-link" href="/projects/{{ project.alias }}">
							<span class="vertical-menu-text">{{ project.name }}</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock %}

<!-- Build Project Listing -->
{% block content %}
	{% if projects %}
		<div class="wp-block project-listing">
			{% for project in projects %}
				<!-- Single project listing. -->
				<div class="wp-block project-container">
					<!-- EDIT -->
					{% if request|is_staff %}
						<a href='/adminprojects/wp_project/{{ project.id }}'>
							<div class='wpbutton project-edit-button'>
								<span>edit</span>
							</div>
						</a>
					{% endif %}
					<!-- Header (Name/Link/Version) -->
					<div class='project-header-box'>
						<a href="/projects/{{ project.alias }}">
							<span class="header project-name">{{ project.name }}</span>
						</a>
						<br/>
						<span class="version">version {{ project.version }}</span>
						<br/>
					</div>
				
					<!-- Description -->
					<div class="project-desc">
						<span class="desc">{{ project.description|safe }}</span>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}

