{% extends "projects/index.html" %}
{% load wp_tags %}
{% load projects_tags %}
{% block title %}{% if project %}- {{ project.name }}{% endif %}{% endblock %}
{% block metainfo %}
<meta name='description' content='A welborn productions project{% if project %}: {{ project.name }} v. {{ project.version }}{% if project.description %}, {{ project.description }}{% endif %}{% else %}.{% endif %}'>
{% endblock %}
{% block javascript %}
<script type='text/javascript' src='/static/js/ace/ace.js' charset='utf-8'></script>
<script type='text/javascript' src='/static/js/ace/ext-modelist.js' charset='utf-8'></script>
{% endblock %}
{% block extrahead %}
{% if use_screenshots %}
<script type='text/javascript'>
$(document).ready(function() {
$('.screenshots-box').wtRotator(wprotator_settings);
$('.wt-rotator').width('100%');
$('.screen').width('100%');
});
</script>
{% endif %}
{% endblock %}
{% block content %}
{% if project %}
<div class='project-container'>
{% if request.user.is_staff %}
<a href='/adminprojects/wp_project/{{ project.id }}'>
<div class='wpbutton project-edit-button'>
<span>edit</span>
</div>
</a>
{% endif %}
<div class='project-title'>
<h1 class='project-header'>{{ project.name }}</h1>
</div>
<div class='project-content'>
{% if project|has_project_html %}
{{ project|process_project_html:request }}
{% else %}
<span>Sorry, no information found for this project: {{ requested_page }}</span>
{% endif %}
</div>
</div>
{% elif matches %}
<div class='project-matches-box'>
<p>
{% if requested_page %}
Sorry, I can't find a project at: <span class='B'>{{ requested_page }}</span>
{% else %}
Sorry, I can't find a project by that name.
{% endif %}
</p>
<br/>
<p>
Maybe try <a href='/search{% if requested_page %}?q={{ requested_page }}{% endif %}'>searching</a>,
<br/>
Or try one of these possible matches:
</p>
<div class='project-matches'>
{% for project in matches %}
<div class='project-match'>
<a href='/projects/{{ project.alias }}'>
<span class='project-match-name'>{{ project.name }}</span>&nbsp;
</a>
<span class='version'>version {{ project.version }}</span>
</div>
{% endfor %}
</div>
</div>
{% endif %}
{% endblock %}
