{% if project and file_path %}
<div class='source-view'>
<form id='file-viewer' method='post' action='/view/'>{% csrf_token %}
<input name='file' type='hidden' value='{{ file_path }}'>
</form>
<a class='source-view-link' href='javascript: void(0);' onclick='javascript: $("#file-viewer").submit();'>
{% if link_text %}
{{ link_text }}
{% else %}
View Source (local)
{% endif %}
</a>
<span class='source-view-text'>
{% if desc_text %}
{{ desc_text }}
{% else %}
- view source for {{ project.name }} v. {{ project.version }}
{% endif %}
</span>
</div>
{% endif %}
