@import 'welbornprod';

#paste-content {
    // The height must be set inline inside of apps/paste/templates/index.html
    // ..You can set other style properties that don't resize anything though.
    border-radius: 5px;
}

.paste-content-full {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#langselect {
    @include border-radius-thick(3px);
    background-color: $whitedull;
    color: $greymain;
    padding: 3px;

}

#themeselect {
    @extend #langselect;
    color: $greymain;
}

.paste-header-box {
    @include border-radius-thick(5px);
    background-color: $whitedull;
    margin-bottom: 5px;
    padding: 5px;
    position: relative;
}

// .paste-header { }// Paste info, above lang and buttons.

.paste-page-header {
    margin-bottom: 10px;
}

.paste-page-header-title {
    margin-left: 10px;
}

.paste-page-header-text {
    color: greylight;
    margin-left: 10px;
    margin-top: 10px;
}

.paste-button-box {
    display: inline-block;
    margin-left: 15px;
    position: relative;
}

.paste-bottom-button-box {
    display: block;
    margin-top: 10px;
    position: relative;
    text-align: right;
}

#paste-btn {
    // The actual 'paste it!' button itself.
    margin-left: -10px;
    margin-right: 10px;
}

#view-raw-btn {
    // View as plain-text button.
    margin-right: 10px;
}

.paste-button {
    // Any paste/view button.
    background-color: $whitedull;
    display: inline-block;
    font-size: $fontnormal;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    text-transform: lowercase;
}

.replies-button-box {
    // Extra bit of style for the replies page.
    display: block;
}

.paste-lang-box {
    display: inline-block;
}

.paste-lang-label {
    color: $greylight;
    display: inline-block;
    font-size: $fontsmaller;
    margin-right: 5px;
    padding-top: 5px;
    text-align: right;
    vertical-align: top;
    width: 70px;
}

.paste-title {
    font-size: $fontmedium;
    text-shadow: $shadowtextmedium;
}

.paste-title-box {
    position: relative;
}

.paste-title-label {
    @extend .paste-lang-label;
}

.paste-title-date {
    // groups the title and date in one box.
    // each one still has it's own, but they need to be aligned.
    display: inline-block;
    position: relative;
}


// .paste-author-box {}

.paste-author {
    // Author for an existing paste (if available)
    color: $greymain;
    display: inline-block;
    font-size: $fontnormal;
    font-weight: bold;
    padding-top: 2px;
}

.paste-author-label {
    @extend .paste-lang-label;
}

.paste-private-box {
  display: inline-block;
}

.paste-private-label {
  @extend .paste-lang-label;
}

#paste-private-opt {
    height: 15px;
    margin-left: 0;
    vertical-align: middle;
    width: 15px;
}

.paste-private-verbose {
    color: $greylight;
    display: inline-block;
    font-family: $fontssmall;
    font-size: $fontsmall;
    font-weight: bold;
    padding-top: 5px;
    vertical-align: top;

}

.paste-onhold-box {
    display: inline-block;
}

.paste-onhold-label {
    @extend .paste-lang-label;
}

#paste-onhold-opt {
    @extend #paste-private-opt;
}

.paste-date-box {
    display: block;
}

.paste-date {
    color: $greylight;
    font-family: $fontssmall;
    font-size: $fontsmall;
    font-weight: bold;
}

.paste-date-label {
    @extend .paste-lang-label;
}

.paste-replyto-box {
    margin-top: 10px;
}

.paste-replyto-label {
    @extend .paste-lang-label;
}

.paste-replyto-title {
    color: $bluemain;
    display: inline-block;
    font-size: $fontbigger;
    text-shadow: $shadowtextmedium;
    text-transform: lowercase;

    &:hover {
        color: $bluelink;
    }
}

.paste-theme-box {
    @include border-radius-thin(7px);
    background-color: $whitedull;
    display: inline-block;
    padding: 1px 1px 1px 5px;
}

.paste-theme-label {
    @extend .paste-lang-label;
    color: $greymain;
    width: auto;
}


// * Replies menu styles */
.vertical-menu-reply-date {
    @extend .paste-date;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 5px;
}

.vertical-menu-reply-all {
    display: block;
    text-transform: lowercase;
}

.vertical-menu-reply-count {
    display: inline;
    font-size: $fontsmall;
}

.vertical-menu-reply-int {
    color: $bluemain;
    font-family: $fontsmono;
}

// * Styles for replies.html */
.paste-listing-surround {
    background-color: $whitedull;
    border-radius: 5px;
    box-shadow: $shadowmedium;
    margin: 15px;
    padding: 10px;
    text-align: left;
}

.replies-title-box {
    display: block;
}

.replies-title-label {
    color: $greymain;
    display: inline-block;
    margin-left: 10px;
    text-transform: lowercase;
}

.replies-title-count {
    color: $bluemain;
    display: inline-block;
    font-family: $fontsmono;
    font-weight: bold;
}

.replies-title {
    color: $bluemain;
    display: inline-block;
    font-size: $fontmedium;
    text-shadow: $shadowtextmedium;
}

.replies-date-box {
    @extend .paste-date-box;
    margin-left: 10px;
}

.paste-listing-box {
    // Container for all pastes (even if there are none)
    padding: 10px;
}

.paste-listing-none-text {
    // Style for message when there are no replies.
    color: $redmain;
    font-weight: bold;
}

// * Styles for listing individual pastes. */
.paste-item {
    // Container for single reply item.
    @include border-radius-thick(5px);
    @include box-shadow($shadowbox);
    background-color: $whitedull;
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    position: relative;
}

.paste-item-expired {
    color: $redmain;

    a & {
        color: $redmain;

        &:hover {
            color: $redhover;
        }
    }
}

.paste-item-title {
    // Title for single reply item.
    color: $bluemain;
    display: inline-block;
    font-size: $fontnormal;
    font-weight: bold;
    text-transform: lowercase;

    &:hover {
        color: $bluelink;
    }
}

.paste-item-author-label {
    @extend .paste-item-lang-label;
}

.paste-item-author {
    @extend .paste-item-lang;
}

.paste-item-replyto-label {
    color: $greylight;
    display: inline-block;
    font-size: $fontsmaller;
    margin-bottom: 5px;
    margin-left: 10px;
}

.paste-item-replyto {
    @extend .paste-item-title;
    display: inline-block;
    font-size: $fontsmaller;

}

.paste-item-lang-label {
    color: $greylight;
    display: block;
    font-size: $fontsmaller;
}

.paste-item-lang {
    color: $bluemain;
    display: inline;
    font-size: $fontsmall;
}

.paste-item-date {
    // Date for single reply item.
    @extend .paste-date;
    display: block;
}

.paste-item-replies-btn {
    // Text for if a reply has replies of its own.
    @include border-radius-thin(5px);
    color: $bluemain;
    display: inline-block;
    font-family: $fontsnormal;
    font-size: $fontsmaller;
    font-weight: bold;
    margin-left: 5px;
    padding: 1px;

    a {
        color: $bluemain;
        font-weight: bold;
    }

    a:hover {
        border-color: $bordermain;
        color: $bluelink;
    }
}

.paste-item-replies-box {
    // Holds all reply pastes for a paste
    @include border-radius-thin(5px);
    display: block;
    margin-top: 5px;
    padding: 5px;
}

.paste-item-reply-label {
    // Label and reply count.
    color: $greylight;
    display: inline-block;
    font-size: $fontsmall;
    font-weight: bold;
    text-transform: lowercase;
}


.paste-item-reply {
    // Single reply paste item.
    @include border-radius(5px);
    border-color: $bordermain;
    display: block;
    // border-width: 1px;
    // border-style: solid;
    padding: 5px;
}

.paste-item-reply-title {
    // Title/Link for a reply.
    @extend .paste-item-replyto;
}

.paste-item-reply-author-label {
    @extend .paste-item-author-label;
}

.paste-item-reply-author {
    @extend .paste-item-author;
}

.paste-item-reply-date {
    // Date of reply.
    @extend .paste-item-date;
    font-size: $fonttiny;
}

.paste-item-views {
    @include border-radius-thin(5px);
    color: $bluemain;
    display: inline-block;

    font-family: $fontsnormal;
    font-size: $fontsmaller;
    font-weight: bold;
    //margin-left: 5px;
    padding: 1px;
}

// * API landing page styles */
.paste-api-section {
    background: $whitedull;
    display: block;
}

.paste-api-header {
    display: block;
    font-size: $fontbig;
    margin-bottom: 10px;
    text-shadow: $shadowtextbig;

}

.paste-api-section-content {
    // The content for this section of api help.
    @include border-radius-thin(5px);
    background: $whitedull;
    margin-bottom: 10px;
    padding: 10px;
}

.paste-api-section-paragraph {
    color: $bluemain;
    font-size: $fontbigger;
    margin-left: 10px;
    margin-top: 10px;
}

a .paste-api-section-paragraph {
    display: inline-block;
    margin-left: 10px;

    &:hover {
        color: $bluelink;
    }
}

.paste-api-section-text {
    color: $greydark;
    font-size: $fontnormal;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-top: 10px;
}

.paste-api-section-text-note {
    font-size: $fontsmall;
    margin-bottom: 5px;
    margin-top: 10px;
}

.paste-api-section-codelabel {
    color: $greymain;
    font-size: $fontsmaller;
    margin-left: 10px;
    margin-top: 10px;
}

.paste-api-section-json {
    color: $greymain;
    font-size: $fontnormal;
}

.paste-edit-button {
    // edit button for admins.
    position: absolute;
    right: 10px;
    top: 0;
}
