@import 'welbornprod';

/* -- apps.css -- */
.apps-header {
    margin-bottom: 10px;
}

.apps-header-text {
    margin-top: 5px;
}

.apps-header-title {
    display: inline-block;
}

.apps-listing-box {
    margin-top: 10px;
}

.apps-listing-item-box {
    @include border-radius(5px);
    @include box-shadow-medium();
    margin: 15px;
    padding: 10px;
    background-color: $whitedull;
    text-align: left;
}

.apps-header-box {
    text-align: left;
    width: 100%;
}

.apps-name {
    font-size: $fontmedium;
    text-shadow: $shadowtextsmall;
}

.apps-admin-name {
    color: $redmain;
}

.version {
    font-size:$fontsmall;
    color: $greydark;
    font-weight: bold;
    font-family: $fontssmall;
    text-align: right;
    padding-left: 0%;
}

.apps-desc {
    @include border-radius-thick(10px);
    background: $whitedull;
    margin-top: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.apps-desc.apps-index {
    font-size: .8em;
}

/* Long Description */
.apps-longdesc {
    @include border-radius-thick(5px);
    @include box-shadow-normal();
    background: $whitedull;
    font-size:$fontsmall;
    padding: 5px;
    margin-bottom: 10px;
}

/* Goto Button */
.apps-button {
    display: inline-block;
    position: relative;
    @include box-shadow-small();
    @include border-radius(3px);
    font-family: $fontsnormal;
    font-size: $fontsmall;
    background-color: $whitedull;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

a .apps-button {
    background-color: $whitedull;
}
