@import 'welbornprod';

// -- apps.css --
.apps-header {
    margin-bottom: 10px;
}

.apps-header-text {
    margin-top: 5px;
}

.apps-header-title {
    display: inline-block;
}

.apps-listing-box {
    margin-top: 10px;
}

.apps-listing-item-box {
    @include border-radius(5px);
    @include box-shadow-medium();
    background-color: $whitedull;
    margin: 15px;
    padding: 10px;
    text-align: left;
}

.apps-header-box {
    text-align: left;
    width: 100%;
}

.apps-name {
    font-size: $fontmedium;
    text-shadow: $shadowtextsmall;
}

.apps-admin-name {
    color: $redmain;
}

.apps-desc {
    @include border-radius-thick(10px);
    background: $whitedull;
    margin-top: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

    .apps-index {
        font-size: .8em;
    }
}

// Long Description
.apps-longdesc {
    @include border-radius-thick(5px);
    @include box-shadow-normal();
    background: $whitedull;
    font-size: $fontsmall;
    margin-bottom: 10px;
    padding: 5px;
}

// Goto Button
.apps-button {
    @include box-shadow-small();
    @include border-radius(3px);
    background-color: $whitedull;
    display: inline-block;
    font-family: $fontsnormal;
    font-size: $fontsmall;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    padding: 5px;
    position: relative;
}

a .apps-button {
    background-color: $whitedull;
}

.app-input-text {
    margin-left: 10px;
    width: 80px;
}

.app-submit-button {
    margin-left: 10px;

    span {
        font-size: $fontsmall;
        padding-left: 5px;
        padding-right: 5px;
    }
}
