.about-box {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.13);
  padding: 5px; }

.about-pic-box {
  border-style: none;
  border-width: 0px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.13);
  float: left;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  height: auto;
  width: auto;
  padding: 5px;
  text-align: center; }

.about-img {
  border: none;
  height: auto;
  width: auto; }

.about-bio {
  padding-left: 10px;
  padding-right: 10px; }

.about-contact {
  text-align: left; }

.about-contact-box {
  /* container for all contact buttons */
  border-style: none;
  width: auto;
  text-align: center;
  margin-top: 5px; }

.about-contact-button {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: #98C2E9;
  display: inline-block;
  margin: 2px;
  padding-left: 2px;
  padding-right: 2px; }
