/* -------------------------- home.css -------------------------- */
.home-welcome-text {
  margin-bottom: 10px; }

.home-welcome-extra-msg {
  margin-bottom: 10px; }

.featured-main-box, .home-welcome-box {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin: 15px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-color: rgba(202, 217, 224, 0.5);
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.07);
  -ms-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.07);
  -o-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.07);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.07);
  background: white; }

.featured-item-container {
  margin: 15px;
  padding: 10px;
  background-color: #fafafa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: #bac2c7 0px 0px 15px;
  text-align: left; }

.featured-header-box {
  text-align: left;
  width: 100%; }

.featured-name {
  font-size: 2em; }

.featured-version {
  font-size: 0.8em;
  color: #4d4d4d;
  font-weight: bold;
  font-family: "Ubuntu", "Open Sans", "Century Gothic", "Arial Black", "Liberations Sans", Arial, sans-serif;
  text-align: right;
  padding-left: 0%; }

.featured-desc {
  margin-top: 10px;
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border-color: rgba(202, 217, 224, 0.5);
  border-style: solid;
  border-width: 2px; }

.tweet-box {
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.tweet-text {
  font-family: "Ubuntu", "Open Sans", "Century Gothic", "Arial Black", "Liberations Sans", Arial, sans-serif;
  font-size: 1em;
  padding: 5px;
  margin-top: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(202, 217, 224, 0.5); }

.tweet-screen-name, .tweet-screen-name a {
  display: inline-block;
  position: relative;
  font-family: "Ubuntu", "Open Sans", "Century Gothic", "Arial Black", "Liberations Sans", Arial, sans-serif;
  font-size: 1.2em;
  color: #26a1f4;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  vertical-align: super; }
  .tweet-screen-name a:before {
    content: '@';
    color: #919191; }

.tweet-profile-image {
  display: inline-block; }
  .tweet-profile-image img {
    border-width: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4); }

.tweet-photo-box {
  display: block;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px; }
  .tweet-photo-box:before {
    display: block;
    content: 'Photo:';
    color: #afafaf;
    margin-bottom: 5px;
    margin-left: 5px; }

.tweet-photo {
  display: inline-block;
  border-radius: 5px; }
