.phonewords-container {
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(202, 217, 224, 0.5);
  border-width: 1px;
  padding: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.07);
  background: #fafafa; }

.phonewords-container.phonewords-sub-container {
  box-shadow: none;
  margin-top: 10px;
  border-width: 2px; }

.phonewords-header {
  font-size: 1.5em;
  text-shadow: #bac2c7 1px 1px 4px; }

.version {
  padding-left: 5px; }

.app-input-text {
  width: 80px;
  margin-left: 10px; }

.app-submit-button {
  margin-left: 10px; }

.app-submit-button span {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.8em; }

/* Results */
.phonewords-results-box {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(202, 217, 224, 0.5);
  border-radius: 5px;
  padding: 5px;
  display: inline-block; }

.phonewords-results-count {
  font-family: "Source Sans Pro", "Arial Black", "Liberation Sans", Arial, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  color: #919191;
  margin-left: 5px;
  display: inline-block; }

.phonewords-textarea {
  font-family: "Ubuntu Mono", "DejaVu Sans Mono", monospace;
  font-size: 0.9em;
  color: #313131;
  border-radius: 5px;
  border-color: rgba(202, 217, 224, 0.5);
  outline: none;
  resize: none;
  overflow: auto; }

.phonewords-total-box {
  /* border-style: solid;
  border-width: 1px;
  border-color: $borderblue;
  border-radius: 3px; */
  padding: 5px;
  color: #313131;
  font-weight: bold;
  display: inline-block; }

/* Description */
.phonewords-warning {
  color: #b90000;
  font-weight: bold; }
