@import 'welbornprod';
.stats-header {
    margin-bottom: 10px;

    &.header {
        font-size: 2.5em;
    }
}

.stats-group {
    display: block;
    background: $whitedull;
    @include border-radius(5px);
    border-width: 1px;
    border-color: $bordermain;
    padding: 5px;
    margin-bottom: 5px;
}

.stats-group-name {
    display: block;
    color: $bluemain;
    font-size: $fontbigger;
    text-shadow: $shadowtextsmall;
}

.stats-item {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    @include border-radius-thin-color(5px, $greysurround);
    padding: 6px;
    margin-top: 3px;
}

.stats-item-name {
    display: block;
    font-weight: bold;
    color: $greymain;
}

.stats-item-attrs {
    display: block;
}

.stats-item-attr {
    display: block;
}

.stats-item-attr-label {
    display: inline-block;
    color: $greylight;
    text-align: right;
    width: 6em;
}

.stats-item-attr-value {
    display: inline-block;
    color: $bluelight;
    font-family: $fontsmono;
    font-size: 1.1em;
}
