@import 'welbornprod';
/* Styles for misc object listing/pages */

/* Misc Object Listings */
.misc-listing {
    text-align: center;
}
.misc-container {
    position: relative;
    margin: 15px;
    padding: 10px;
    background-color: $whitedull;
    @include border-radius(5px);
    @include box-shadow-medium();
    text-align: left;
}

.misc-header-box {
    text-align: left;
    width: 100%
}

.misc-header {
    text-shadow: $shadowtext;
    font-family: $fontsnormal;
    font-size: $fontlarge; /* big header for projects/sections */
    color: $bluemain;
    text-transform: lowercase;
    }

.misc-name {
    font-size: $fontmedium;
    text-shadow: $shadowtextsmall;
}

.version {
    font-size:$fontsmall;
    color: $greydark;
    font-weight: bold;
    font-family: $fontssmall;
    text-align: right;
    padding-left: 0%;
}

.misc-desc {
    @include border-radius-thick(10px);
    background: $whitemain;
    margin-top: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.misc-download-box-wrapper {
    text-align: center;
}
.misc-download-box {
    display: inline-block;
    position: relative;
    @include border-radius-thick(5px);
    background: $whitemain;
    padding: 5px;
    font-size: $fontsmall;
}

.misc-download-button {
    @include box-shadow-small();
    @include border-radius(3px);
    font-family: $fontsnormal;
    font-size: 1em;
    display: inline-block;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
/* Smaller styles for misc index */
.misc-download-box.misc-index {
    margin-top: 10px;
    margin-bottom: 5px;
}
.misc-download-button.misc-index {
    font-size: $fontsmall;
    margin-bottom: 1px;
}
.misc-desc.misc-index {
    font-size:$fontsmall;
}

/* Type Info */
.misc-type-info-box {
    display: block;
    position: relative;
    margin-bottom: 5px;
}
.misc-type-info-item {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}
.misc-type-label {
    font-size:$fontsmall;
    color: $greydark;
}
.misc-type-value {
    font-size:$fontsmall;
    color: $bluemain;
}
/* Show More/Less Button */
.misclongdescbtn {
    display: inline-block;
    position: relative;
    @include border-radius-thick(9px);
    background: $whitemain;
    padding: 5px;
    margin-top: 5px;
    font-size:$fontsmall;
}

.misclongdescbtn-wrapper {
    display: inline-block;
    position: relative;
    text-align: center;
}
/* Long Description */
.misclongdesc {
    @include border-radius-thick(5px);
    @include box-shadow-normal();
    background: $whitemain;
    font-size:$fontsmall;
    padding: 5px;
    margin-bottom: 10px;
}
/* Misc Page */
.misc_title, .misc-title {
    margin-bottom: 15px;
}

/* Sub styles for misc descriptions. */
.misc-sub-desc {
    @include border-radius-thin(5px);
    margin-top: 10px;
    padding: 5px;
}

.misc-sub-desc *.codewrap {
    font-size: 1em;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

/* ensure all usage strings are wrapped with proper font size */
.misclongdesc .codewrap {
    font-size: 1em;
}

.misc-sub-desc *.title {
    font-size: 1.2em;
    color: $bluemain;
}

.misc-sub-desc *.desc {
    padding-left: 20px;
    color: $greymain;
}

/* Style for auto-appended content such as Xchat warnings. */
.misc-warning {
    display: inline-block;
    @include border-radius-thin(5px);
    color: $redmain;
    padding: 5px;
    font-family: $fontssmall;
    font-size: 1em;
    margin-top: 15px;
}
