@import 'welbornprod';
/* Styles for misc object listing/pages */

/* Misc Object Listings */ 
.misc-listing {
    text-align: center;
}
.misc-container {
    margin: 15px;
    padding: 10px;
    background-color: $whitedull;
    border-radius: 5px;
    box-shadow: $shadowmedium;
    text-align: left;

}

.misc-header-box {
    text-align: left;
    width: 100%
}

.misc-header {
    text-shadow: $shadowtext;
    font-family: $fontsnormal;
    font-size: $fontlarge; /* big header for projects/sections */
    color: $bluemain;
    text-transform: lowercase;
    }
    
.misc-name {
    font-size: $fontmedium;
    text-shadow: $shadowtextsmall;
}

.version {
    font-size:$fontsmall;
    color: $greydark;
    font-weight: bold;
    font-family: $fontssmall;
    text-align: right;
    padding-left: 0%;
}

.misc-desc {
    background: $whitemain;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    border-color: $bordermain;
    border-style: solid;
    border-width: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

.misc-download-box-wrapper {
    text-align: center;
}
.misc-download-box {
    background: $whitemain;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: $bordermain;
    padding: 5px;
    display: inline-block;
    position: relative;
}

.misc-download-button {
    font-family: $fontsnormal;
    font-size: 1em;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    box-shadow: $shadowsmall;
    -moz-box-shadow: $shadowsmall;
    -webkit-box-shadow: $shadowsmall;
    
    padding: 5px;
}
/* Smaller styles for misc index */
.misc-download-box.misc-index {
    margin-top: 10px;
    margin-bottom: 5px;
}
.misc-download-button.misc-index {
    font-size: $fontsmall;
    margin-bottom: 1px;
}
.misc-desc.misc-index {
    font-size:$fontsmall;
}

/* Type Info */
.misc-type-info-box {
    display: block;
    position: relative;
    margin-bottom: 5px;
}
.misc-type-info-item {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}
.misc-type-label {
    font-size:$fontsmall;
    color: $greydark;
}
.misc-type-value {
    font-size:$fontsmall;
    color: $bluemain;
}
/* Show More/Less Button */
.misclongdescbtn {
    background: $whitemain;
    border-radius: 9px;
    border-style: solid;
    border-color: $bordermain;
    border-width: 2px;
    padding: 5px;
    display: inline-block;
    position: relative;
    margin-top: 5px;
    font-size:$fontsmall;
}

.misclongdescbtn-wrapper {
    text-align: center;
    position: relative;
    display: inline-block;
}
/* Long Description */
.misclongdesc {
    background: $whitemain;
    font-size:$fontsmall;
    border-radius: 5px;
    border-color: $bordermain;
    border-style: solid;
    border-width: 2px;
    box-shadow: $shadownormal;
    padding: 5px;
    margin-bottom: 10px;
}
/* Misc Page */
.misc_title, .misc-title {
    margin-bottom: 15px;
}

/* Sub styles for misc descriptions. */
.misc-sub-desc {
    margin-top: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: $borderlight;
    border-width: 1px;
    padding: 5px;
}

.misc-sub-desc *.codewrap {
font-size: 1em;
padding-right: 10px;
padding-left: 10px;
margin-left: 20px;
margin-top: 10px;
}

/* ensure all usage strings are wrapped with proper font size */
.misclongdesc .codewrap {
    font-size: 1em;
}

.misc-sub-desc *.title {
    font-size: 1.2em;
    color: $bluemain;
}

.misc-sub-desc *.desc {
    padding-left: 20px;
    color: $greymain;
}

/* Style for auto-appended content such as Xchat warnings. */
.misc-warning {
    color: $redmain;
    border-style: solid;
    border-radius: 5px;
    border-color: $borderlight;
    border-width: 1px;
    padding: 5px;
    font-family: $fontssmall;
    font-size: 1em;
    margin-top: 15px;
    display: inline-block;
}
